### Does Bilingualism affect the Inhibition Deficit and the Aging effect on the elderly?

#### Abstract

#### Introduction

##### Pacages Imported to perform the different Statistical tests, analyses, and graphs

In [5]:
#install package to open and read excel sheets
from pathlib import Path
#!pip install openpyxl

# Installing package to perform Normality check (Shapiro-Wilk test)
from scipy.stats import shapiro

# Installing package to perform other Statistical analysis like Kruskal-Wallis test, and hypothesis testing 
import pandas as pd
import scipy.stats as stats

# Installing Scikit-posthocs package to perform post-hoc test
#!pip install scikit-posthocs

# Installing to perform specific post-hoc test, Dunn's post-hoc test.
import scikit_posthocs as sp
import pandas as pd

# Installing pingouin Library package to perform mixed-design ANOVA, and other Statistical analysis:
#!pip install pingouin
import pingouin as pg
import itertools

# Installing package to create some visuals like error-bars.
import seaborn as sns
import matplotlib.pyplot as plt

##### Pandas dataframe

In this pipeline we use mostly Pandas packaging. Pandas DataFrames offer a powerful and flexible structure for data manipulation and analysis. They enable efficient data cleaning, merging, reshaping, and summarization with concise, readable code—making complex data workflows accessible and reproducible, which is essential for robust scientific research.

##### Calculation Steps

- Upload the data:

1. Upload data from csv.
   It was detected when we uploaded the data that the tables was showing separation by ; not ,
   * had to define new sep as it was separated by ; not ,
   * Data values were written with comma rather than dot. Therefore we needed to replace the commas with dots. Then python could automatically convert to float values we also used slicing to get the columns needed

In [11]:

from pathlib import Path

In [12]:
# load your files (note the extension is now .csv)
emo_df = pd.read_csv(Path("C:/github/master_calculations/data/emotional_wide.csv"), sep=";", decimal=",")
stroop_df = pd.read_csv(Path("C:/github/master_calculations/data/stroop_wide.csv"), sep=";", decimal=",")

- Open files:

Classical Stroop

In [15]:
stroop_df

,participant_id,respc.corr_mean.incongruent,respc.corr_std.incongruent,respc.rt_mean.incongruent,respc.rt_std.incongruent,respc.corr_mean.congruent,respc.corr_std.congruent,respc.rt_mean.congruent,respc.rt_std.congruent
0,1203,1.000000,0.000000,0.715111,0.254540,0.966667,0.074536,0.773110,0.257307
1,1204,1.000000,0.000000,0.606518,0.126010,1.000000,0.000000,0.677501,0.173684
2,1205,1.000000,0.000000,0.995745,0.265899,0.966667,0.074536,1.118971,0.252094
3,1206,0.933333,0.091287,0.704573,0.155570,0.966667,0.074536,0.816686,0.219771
4,1207,1.000000,0.000000,0.683636,0.224203,0.900000,0.223607,0.797774,0.224723
...,...,...,...,...,...,...,...,...,...
83,1319,1.000000,0.000000,0.725578,0.237461,1.000000,0.000000,0.751577,0.212407
84,1326,0.933333,0.149071,0.937385,0.420897,1.000000,0.000000,0.886707,0.254680
85,1337,0.966667,0.074536,0.672102,0.261308,0.966667,0.074536,0.654819,0.181993
86,1344,0.966667,0.074536,1.105055,0.271146,0.866667,0.240358,1.289605,0.350826
87,1345,0.966667,0.074536,0.810246,0.194319,0.966667,0.074536,1.032755,0.272284

Emotional Stroop

In [17]:
emo_df

,participant_id,resp.corr_mean.incongruent.glad.adult,resp.corr_std.incongruent.glad.adult,resp.rt_mean.incongruent.glad.adult,resp.rt_std.incongruent.glad.adult,resp.corr_mean.incongruent.trist.adult,resp.corr_std.incongruent.trist.adult,resp.rt_mean.incongruent.trist.adult,resp.rt_std.incongruent.trist.adult,resp.corr_mean.incongruent.neu.adult,...,resp.rt_mean.congruent.glad.baby,resp.rt_std.congruent.glad.baby,resp.corr_mean.congruent.trist.baby,resp.corr_std.congruent.trist.baby,resp.rt_mean.congruent.trist.baby,resp.rt_std.congruent.trist.baby,resp.corr_mean.congruent.neu.baby,resp.corr_std.congruent.neu.baby,resp.rt_mean.congruent.neu.baby,resp.rt_std.congruent.neu.baby
0,1203,1.0,0.000000,0.834702,0.143169,0.9,0.141421,0.925454,0.278187,1.0,...,0.854535,0.232593,0.958333,0.058926,0.924575,0.271926,0.958333,0.058926,1.000787,0.318872
1,1204,0.9,0.141421,0.631355,0.123766,1.0,0.000000,0.651777,0.033001,1.0,...,0.704160,0.173085,0.958333,0.058926,0.581735,0.123698,1.000000,0.000000,0.580491,0.083795
2,1205,1.0,0.000000,0.855834,0.194823,1.0,0.000000,0.771844,0.109109,1.0,...,0.850434,0.135730,0.916667,0.117851,0.863746,0.138510,0.958333,0.058926,0.794245,0.176831
3,1206,1.0,0.000000,0.734624,0.079265,1.0,0.000000,0.852039,0.151549,1.0,...,0.820891,0.107333,1.000000,0.000000,0.830719,0.146121,1.000000,0.000000,0.744530,0.085321
4,1207,1.0,0.000000,0.936832,0.195431,1.0,0.000000,0.804329,0.208366,1.0,...,0.935145,0.187571,0.958333,0.058926,0.885868,0.133503,0.875000,0.058926,0.743572,0.095836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1319,1.0,0.000000,0.968130,0.235274,1.0,0.000000,0.879301,0.067024,1.0,...,1.073240,0.315628,0.875000,0.176777,1.108588,0.372499,1.000000,0.000000,0.797543,0.135086
84,1326,1.0,0.000000,0.844349,0.111004,1.0,0.000000,0.978748,0.102694,1.0,...,0.852385,0.072896,0.958333,0.058926,0.949973,0.147841,0.958333,0.058926,0.858571,0.120270
85,1337,1.0,0.000000,0.744503,0.144672,1.0,0.000000,0.839017,0.099145,1.0,...,0.760030,0.141914,0.958333,0.058926,0.851125,0.221673,1.000000,0.000000,0.845381,0.143963
86,1344,1.0,0.000000,0.886098,0.155842,1.0,0.000000,0.760499,0.151753,1.0,...,0.824691,0.182646,1.000000,0.000000,0.868993,0.095461,1.000000,0.000000,0.872308,0.172360
87,1345,1.0,0.000000,0.961006,0.336347,1.0,0.000000,1.098052,0.225527,1.0,...,0.983500,0.274123,0.958333,0.058926,1.088604,0.220189,1.000000,0.000000,0.729422,0.147840

In [18]:
# Confirm types look right
stroop_df.dtypes.head(12)
emo_df.dtypes.head(12)

participant_id                              int64
resp.corr_mean.incongruent.glad.adult     float64
resp.corr_std.incongruent.glad.adult      float64
resp.rt_mean.incongruent.glad.adult       float64
resp.rt_std.incongruent.glad.adult        float64
resp.corr_mean.incongruent.trist.adult    float64
resp.corr_std.incongruent.trist.adult     float64
resp.rt_mean.incongruent.trist.adult      float64
resp.rt_std.incongruent.trist.adult       float64
resp.corr_mean.incongruent.neu.adult      float64
resp.corr_std.incongruent.neu.adult       float64
resp.rt_mean.incongruent.neu.adult        float64
dtype: object

In [19]:
# See if any NaNs appeared after conversion (e.g., non-numeric text)
stroop_df.isna().sum().sort_values(ascending=False).head(10)
emo_df.isna().sum().sort_values(ascending=False).head(10)

participant_id                           0
resp.corr_mean.incongruent.glad.baby     0
resp.rt_mean.incongruent.glad.baby       0
resp.rt_std.incongruent.glad.baby        0
resp.corr_mean.incongruent.trist.baby    0
resp.corr_std.incongruent.trist.baby     0
resp.rt_mean.incongruent.trist.baby      0
resp.rt_std.incongruent.trist.baby       0
resp.corr_mean.incongruent.neu.baby      0
resp.corr_std.incongruent.neu.baby       0
dtype: int64

In [20]:
stroop_df["participant_id"] = stroop_df["participant_id"].astype(str)

In [21]:
emo_df.describe()

,participant_id,resp.corr_mean.incongruent.glad.adult,resp.corr_std.incongruent.glad.adult,resp.rt_mean.incongruent.glad.adult,resp.rt_std.incongruent.glad.adult,resp.corr_mean.incongruent.trist.adult,resp.corr_std.incongruent.trist.adult,resp.rt_mean.incongruent.trist.adult,resp.rt_std.incongruent.trist.adult,resp.corr_mean.incongruent.neu.adult,...,resp.rt_mean.congruent.glad.baby,resp.rt_std.congruent.glad.baby,resp.corr_mean.congruent.trist.baby,resp.corr_std.congruent.trist.baby,resp.rt_mean.congruent.trist.baby,resp.rt_std.congruent.trist.baby,resp.corr_mean.congruent.neu.baby,resp.corr_std.congruent.neu.baby,resp.rt_mean.congruent.neu.baby,resp.rt_std.congruent.neu.baby
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,...,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,1266.170455,0.965909,0.032141,0.839050,0.162535,0.963636,0.038569,0.876550,0.181659,0.979167,...,0.839282,0.170302,0.936080,0.040846,0.905969,0.200276,0.974432,0.020088,0.799207,0.145589
std,41.831688,0.116349,0.073429,0.118615,0.087137,0.110570,0.085035,0.148745,0.116965,0.038428,...,0.124196,0.087086,0.176545,0.054607,0.138716,0.084498,0.096522,0.038827,0.124248,0.072272
min,1203.000000,0.000000,0.000000,0.628502,0.036224,0.100000,0.000000,0.575645,0.033001,0.833333,...,0.629927,0.062028,0.000000,0.000000,0.581735,0.076558,0.125000,0.000000,0.580491,0.051065
25%,1228.750000,1.000000,0.000000,0.755970,0.099702,1.000000,0.000000,0.781008,0.099415,1.000000,...,0.749487,0.112040,0.916667,0.000000,0.814037,0.133147,0.958333,0.000000,0.715115,0.102361
50%,1262.500000,1.000000,0.000000,0.832294,0.143920,1.000000,0.000000,0.845678,0.150347,1.000000,...,0.823834,0.148653,1.000000,0.000000,0.898520,0.188464,1.000000,0.000000,0.782664,0.130587
75%,1301.250000,1.000000,0.000000,0.898917,0.200575,1.000000,0.000000,0.952084,0.240777,1.000000,...,0.899481,0.201692,1.000000,0.058926,0.991394,0.248895,1.000000,0.058926,0.863237,0.168149
max,1345.000000,1.000000,0.424264,1.159541,0.501599,1.000000,0.424264,1.334006,0.780579,1.000000,...,1.258131,0.657062,1.000000,0.235702,1.396446,0.487515,1.000000,0.235702,1.241493,0.490676

In [22]:
stroop_df.describe ()

,respc.corr_mean.incongruent,respc.corr_std.incongruent,respc.rt_mean.incongruent,respc.rt_std.incongruent,respc.corr_mean.congruent,respc.corr_std.congruent,respc.rt_mean.congruent,respc.rt_std.congruent
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,0.976894,0.048384,0.853074,0.251353,0.933333,0.090096,0.992118,0.310842
std,0.035145,0.072897,0.212774,0.145106,0.152543,0.109454,0.291179,0.164527
min,0.833333,0.000000,0.481819,0.070943,0.000000,0.000000,0.596278,0.095487
25%,0.966667,0.000000,0.703588,0.154486,0.933333,0.000000,0.782203,0.207822
50%,1.000000,0.000000,0.786450,0.227217,0.966667,0.074536,0.896302,0.255542
75%,1.000000,0.074536,0.965770,0.297830,1.000000,0.149071,1.177996,0.363376
max,1.000000,0.314894,1.598872,1.007927,1.000000,0.514220,2.110163,1.002553

In [23]:
path = Path("C:/github/master_calculations/data/p_details.xlsx")  # sjekk at navnet og endelsen stemmer!

In [24]:
details_df = pd.read_excel(path, engine="openpyxl", header=0, decimal=",")

In [25]:
details_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Session 1-Interview,Unnamed: 5,Unnamed: 6,Unnamed: 7,Session 2- EEG,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Session 3- MRI (as applicable),Unnamed: 16
0,participant_ID,email,age,sex,Interview_date,Attended (y/n),tester_initials,session_notes,EEG_date,Attended (y/n),Tester Initials,cap_size,distance_from_screen_cm,MMSE_score,session_notes,MRI_date,Notes
1,1001,eirik.m.rosoy@gmail.com,49,m,2022-02-01 00:00:00,y,JR/VD,"Q20: accent in French must be only moderate, n...",2022-02-01 00:00:00,y,GB7JR/VD,59,-,30,70 minutes ENC to RET,TBC(?),NaN
2,1002,gro.kiil.larsen@gmail.com,45,f,2022-02-04 00:00:00,y,TV,NaN,2022-02-07 00:00:00,y,HT/SZ/TV,59,-,29,Isssue with triggers during ENC portion of epi...,TBC(?),NaN
3,1003,beathe.thomsen@tffk.no,48,f,2022-02-10 00:00:00,y,HT,"Q20: accents should be: English - very strong,...",2022-02-17 00:00:00,y,HT/SZ,55,-,30,87 minutes ENC to RET Had issues with datamous...,TBC(?),NaN
4,1004,sapmi77@yahoo.no,NaN,NaN,2022-02-17 00:00:00,n,JR,NO SHOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBC(?),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,1346,k-lien@live.no,44,m,2024-11-06 00:00:00,y,KE,"noisy background (UiT common area), still student",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,1347,siwmb@online.no,56,NaN,2024-11-13 00:00:00,n,KE,rescheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,1348,lenelias82@gmail.com,42,f,2024-11-14 00:00:00,y,KE,metal object in the hip (?),26.11.24,Y,AG/FG,53,59,28,65min enc to ret,NaN,NaN
350,1349,torbjorn.nordmo@gmail.com,59,m,2024-12-03 00:00:00,y,KE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,1350,tove_kristine@hotmail.com,52,f,2024-12-05 00:00:00,y,KE,"metallic object in the shoulder - also, someho...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
print(details_df.columns.tolist())

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Session 1-Interview', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Session 2- EEG ', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Session 3- MRI (as applicable)', 'Unnamed: 16']

In [27]:
details_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Session 1-Interview,Unnamed: 5,Unnamed: 6,Unnamed: 7,Session 2- EEG,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Session 3- MRI (as applicable),Unnamed: 16
0,participant_ID,email,age,sex,Interview_date,Attended (y/n),tester_initials,session_notes,EEG_date,Attended (y/n),Tester Initials,cap_size,distance_from_screen_cm,MMSE_score,session_notes,MRI_date,Notes
1,1001,eirik.m.rosoy@gmail.com,49,m,2022-02-01 00:00:00,y,JR/VD,"Q20: accent in French must be only moderate, n...",2022-02-01 00:00:00,y,GB7JR/VD,59,-,30,70 minutes ENC to RET,TBC(?),NaN
2,1002,gro.kiil.larsen@gmail.com,45,f,2022-02-04 00:00:00,y,TV,NaN,2022-02-07 00:00:00,y,HT/SZ/TV,59,-,29,Isssue with triggers during ENC portion of epi...,TBC(?),NaN
3,1003,beathe.thomsen@tffk.no,48,f,2022-02-10 00:00:00,y,HT,"Q20: accents should be: English - very strong,...",2022-02-17 00:00:00,y,HT/SZ,55,-,30,87 minutes ENC to RET Had issues with datamous...,TBC(?),NaN
4,1004,sapmi77@yahoo.no,NaN,NaN,2022-02-17 00:00:00,n,JR,NO SHOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBC(?),NaN
5,1005,eline.holdo@gmail.com,46,f,2022-02-18 00:00:00,y,JR,NaN,2022-02-21 00:00:00,y,HT/JR,57,-,30,55 minutes ENC to RET,TBC(?),NaN
6,1006,bjorg.hestvik@gmail.com,65,f,2022-02-21 00:00:00,y,TV/SZ,SZ Training session,2022-02-28 00:00:00,y,HT/JR,55,-,29,"Stopped during practice ENC, because EEG was v...",TBC(?),NaN
7,1007,stine@fam-barlindhaug.no,54,f,2022-02-22 00:00:00,y,TV,NaN,2022-05-18 00:00:00,y,HT/AK/MF,57,56,30,62 minutes ENC to RET,TBC(?),NaN
8,1008,helge.matland@gmail.com,67,m,2022-02-22 00:00:00,y,JR,NaN,2022-02-25 00:00:00,y,HT/VD,59,-,29,59 minutes ENC to RET. Ppt said he forgot whic...,TBC(?),NaN
9,1009,i-hemmin@online.no,56,f,2022-02-22 00:00:00,y,JR,NaN,2022-03-08 00:00:00,y,AG/VD,57,61,29,66 minutes from ENC to RET. P8 & P10 might hav...,TBC(?),NaN

In [28]:
details_df = pd.read_excel(
    path,
    engine="openpyxl",
    header=1,   # Bruk rad 2 som kolonnenavn (0 = første rad)
    decimal=","
)

In [29]:
demo_df = details_df[["participant_ID", "sex", "age"]]
print(demo_df.head())

   participant_ID  sex  age
0            1001    m   49
1            1002    f   45
2            1003    f   48
3            1004  NaN  NaN
4            1005    f   46

In [30]:
#Merging participant details and emotional dataframe, and participant details and stroop dataframe

In [31]:
#merging participant details and stroop dataframe

In [32]:
#first standardize the ID in both dataframes

In [33]:
def normalize_id(s: pd.Series) -> pd.Series:
    return (s.astype(str).str.replace(r"\.0$", "", regex=True).str.strip())

details_df["participant_id"] = normalize_id(details_df["participant_ID"])
stroop_df["participant_id"]  = normalize_id(stroop_df["participant_id"])
emo_df["participant_id"]     = normalize_id(emo_df["participant_id"])

In [68]:
conflicts = (details_keep
    .groupby("participant_id")
    .agg(
        n_age=("age",    lambda s: s.dropna().nunique()),
        ages=("age",     lambda s: tuple(sorted(s.dropna().unique()))),
        n_sex=("sex",    lambda s: s.dropna().nunique()),
        sexes=("sex",    lambda s: tuple(sorted(s.dropna().unique())))
    )
    .query("n_age > 1 or n_sex > 1")
)
conflicts  # <- manually check these later (e.g., 1224: ages (32, 41))

NameError: name 'details_keep' is not defined

In [70]:
# First, de-duplicate using "first non-null" rule
def first_nonnull(s):
    s = s.dropna()
    return s.iloc[0] if len(s) else pd.NA

details_unique = (details_keep
    .sort_values(["participant_id"])
    .groupby("participant_id", as_index=False)
    .agg(sex=("sex", first_nonnull),
         age=("age", first_nonnull))
)

NameError: name 'details_keep' is not defined

In [72]:
# Then manually fix participant 1224
details_unique.loc[details_unique["participant_id"] == "1224", "age"] = 41

NameError: name 'details_unique' is not defined

In [74]:
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

NameError: name 'details_unique' is not defined

In [76]:
# check that everyone got matched
print("Stroop unmatched:", stroop_merged["sex"].isna().sum())
print("Emo unmatched:   ", emo_merged["sex"].isna().sum())

NameError: name 'stroop_merged' is not defined

In [78]:
stroop_unmatched = stroop_merged[stroop_merged["sex"].isna()]["participant_id"].unique()
emo_unmatched    = emo_merged[emo_merged["sex"].isna()]["participant_id"].unique()

print("Unmatched in Stroop:", stroop_unmatched)
print("Unmatched in Emo:   ", emo_unmatched)

NameError: name 'stroop_merged' is not defined

In [80]:
details_unique.query("participant_id == '1284'")

NameError: name 'details_unique' is not defined

In [82]:
# Fill in missing sex for participant 1284
details_unique.loc[details_unique["participant_id"] == "1284", "sex"] = "f"

NameError: name 'details_unique' is not defined

In [84]:
# Re-merge so the correction is included
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

NameError: name 'details_unique' is not defined

In [86]:
# Double-check: no unmatched left
print("Stroop unmatched:", stroop_merged["sex"].isna().sum())
print("Emo unmatched:   ", emo_merged["sex"].isna().sum())

NameError: name 'stroop_merged' is not defined

In [90]:
import numpy as np

In [88]:
def summarize_demo(df, label):
    """Summarize demographics for a dataset"""
    # drop duplicates in case multiple rows per participant
    df_unique = df.drop_duplicates(subset="participant_id")

    n = len(df_unique)
    sex_counts = df_unique["sex"].value_counts(dropna=False).to_dict()
    age_mean = df_unique["age"].mean()
    age_sd   = df_unique["age"].std()
    age_min  = df_unique["age"].min()
    age_max  = df_unique["age"].max()

    summary = {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{age_min} – {age_max}"
    }
    return summary

In [92]:
#We will make sure age is numeric to continue on to make some information tables
# ensure age is numeric in the three dataframes we’ll summarize from
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

NameError: name 'details_unique' is not defined

In [94]:
def summarize_demo(df, label):
    # one row per participant
    cols = [c for c in ["participant_id", "sex", "age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    # standardize sex strings a bit
    dfu["sex"] = dfu["sex"].astype(str).str.strip().str.lower().replace({"nan": np.nan})

    # numeric age (already coerced, but safe)
    dfu["age"] = pd.to_numeric(dfu["age"], errors="coerce")

    # counts
    n_total = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()

    # age stats
    age_mean = dfu["age"].mean()
    age_sd   = dfu["age"].std()
    age_min  = dfu["age"].min()
    age_max  = dfu["age"].max()

    return {
        "Dataset": label,
        "N": n_total,
        "Sex counts": sex_counts,                 # e.g. {'f': 45, 'm': 43, nan: 0}
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

In [96]:
#building the three tables: one for stroop, one for emotional, and one where both are combined
stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

NameError: name 'stroop_merged' is not defined

In [98]:
#lets check for the 'non-binary group'. We don't have any non-binary group. Let's fix this wil willing in manually sex for the ones that are in this category.
details_unique["sex"].value_counts(dropna=False)

NameError: name 'details_unique' is not defined

In [100]:
#lets see which participants are tagged this way
# 1) Make a normalized helper series (lowercase, trimmed; keep NaN as NaN)
sex_norm = (details_unique["sex"]
            .astype(str)
            .str.strip()
            .str.lower()
            .replace({"nan": np.nan}))

NameError: name 'details_unique' is not defined

In [102]:
# 2) See ALL unique values currently present (helps spot typos)
print("Unique sex values:", sorted(sex_norm.dropna().unique()))

NameError: name 'sex_norm' is not defined

In [104]:
# 3) Find anything NOT in {'f','m'}  (potential typos / unwanted categories)
weird_mask = sex_norm.notna() & ~sex_norm.isin({"f", "m"})
weird_rows = details_unique.loc[weird_mask, ["participant_id", "sex", "age"]]
print("Non-standard sex entries:\n", weird_rows)

NameError: name 'sex_norm' is not defined

So there is age missing, and sex missing. Let's check all the participants in two groups: the ones that are missing sex, and the ones that are missing age. Let's start with the ones missing age. Scan all these and then manually fill in.

In [106]:
#Find all participants with missing age

In [108]:
# make sure age is numeric so we can reliably find missing
details_unique["age"] = pd.to_numeric(details_unique["age"], errors="coerce")

NameError: name 'details_unique' is not defined

In [110]:
# list all with missing age
missing_age = (details_unique
               .loc[details_unique["age"].isna(), ["participant_id", "sex", "age"]]
               .sort_values("participant_id"))
print(f"Participants with missing age: {len(missing_age)}")
missing_age.head(22)

NameError: name 'details_unique' is not defined

In [114]:
#Checked the following participants age, and the following did not show up:
    # "1004": no show,
    # "1010": no show,
    # "1014": no show,
    # "1017": no show
    # "1041": no show
    # "1044: no show, 
    # "1048": spurte alder
    # "1054": no show
    # "1060": excluded due to head trauma
    # "1065": no show
    # "1068": no show
    # "1072": no show
    # "1073": no show
    # "1079": no show
    # "1080": no show
    # "1082": no show
    # "1086": no show
    # "1093": no show
    # "1094": no show
    # "1107": excluded due to hist. with antidepressants and other psychotripic medicines. Suffered a serious fall as well. 
    # "1312": no show
    # "1338": no show

In [116]:
# Exclusions: participant_id (as strings) -> reason
exclusions = {
    "1004": "no show",
    "1010": "no show",
    "1014": "no show",
    "1017": "no show",
    "1041": "no show",
    "1044": "no show",  # <- you missed a quote earlier; fixed here
    "1048": "asked age / missing age",
    "1054": "no show",
    "1060": "head trauma",
    "1065": "no show",
    "1068": "no show",
    "1072": "no show",
    "1073": "no show",
    "1079": "no show",
    "1080": "no show",
    "1082": "no show",
    "1086": "no show",
    "1093": "no show",
    "1094": "no show",
    "1107": "psychotropic meds + serious fall",
    "1312": "no show",
    "1338": "no show",
}
exclude_ids = set(exclusions.keys())

In [118]:
# Drop these participants from details + raw instrument data
# details_unique, stroop_df, emo_df should already exist and have normalized string IDs
# Remove from details
details_unique = details_unique[~details_unique["participant_id"].isin(exclude_ids)].copy()

NameError: name 'details_unique' is not defined

In [ ]:
# Also remove from instrument data (in case any slipped in)
stroop_df = stroop_df[~stroop_df["participant_id"].isin(exclude_ids)].copy()
emo_df    = emo_df[~emo_df["participant_id"].isin(exclude_ids)].copy()

In [ ]:
# re-merge demographics to the instruments
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [ ]:
#checking the data 
print("Remaining details participants:", details_unique["participant_id"].nunique())
print("Unmatched Stroop (missing sex):", stroop_merged["sex"].isna().sum())
print("Unmatched Emo (missing sex):   ", emo_merged["sex"].isna().sum())

# Verify none of the excluded IDs remain anywhere
def any_left(df, name):
    left = sorted(set(df["participant_id"]) & exclude_ids)
    print(f"Excluded IDs still in {name}: {left}")

any_left(details_unique, "details_unique")
any_left(stroop_df,     "stroop_df")
any_left(emo_df,        "emo_df")
any_left(stroop_merged, "stroop_merged")
any_left(emo_merged,    "emo_merged")

In [ ]:
# re-build the demographic table
# ensure numeric age
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

import pandas as pd
demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

In [ ]:
#Got answer from the participant 1048, age 65 years old. SO now I have to re-merge the data and update the participants age. 
details_unique.loc[details_unique["participant_id"] == "1048", "age"] = 65

In [ ]:
#re-emerge so stroop and emotional stroop have the same data update of the participant
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

update the raw file with the new participants update age. BUT first! find the missing sex participants and try to fill in sex before touching the raw datafile and merging everything together

In [ ]:
#find all missing sex-participants
# normalize sex (so "<na>" and weird spellings don't slip through)
sex_norm = (details_unique["sex"].astype(str).str.strip().str.lower()
            .replace({"nan": pd.NA, "<na>": pd.NA, "female":"f", "male":"m"}))

missing_sex = details_unique.loc[sex_norm.isna(), ["participant_id","sex","age"]].sort_values("participant_id")
print(f"Participants with missing sex: {len(missing_sex)}")
missing_sex

In [ ]:
#sex information of participants, manually checking:
    # "1103": female,
    # "1143": no show,
    # "1225": excluded because of age 23,
    # "1233": female, coded as 1223,
    # "1238": no show,
    # "1239": 51, but tested 2 years ago so not included in this sample,
    # "1275": male,
    # "1247": female, is 1192 so we can substitue these two,
    # "1288": no show,
    # "1329": male,
    # "1347": female,

In [ ]:
# --- apply sex corrections ---
sex_corrections = {
    "1103": "f",
    "1233": "f",  
    "1275": "m",
    "1329": "m",
    "1347": "f",
    "1275": "m",
    "1247": "f",
}

In [ ]:
for pid, sex_val in sex_corrections.items():
    details_unique.loc[details_unique["participant_id"] == pid, "sex"] = sex_val

In [ ]:
# normalize sex to f/m/NaN
details_unique["sex"] = (details_unique["sex"].astype(str).str.strip().str.lower()
                         .replace({"female":"f", "male":"m", "nan": pd.NA, "<na>": pd.NA}))

In [ ]:
# --- exclusions (do NOT exclude 1247) ---
extra_exclusions = {"1143", "1225", "1238", "1239", "1288"}
details_unique = details_unique[~details_unique["participant_id"].isin(extra_exclusions)].copy()
stroop_df      = stroop_df[~stroop_df["participant_id"].isin(extra_exclusions)].copy()
emo_df         = emo_df[~emo_df["participant_id"].isin(extra_exclusions)].copy()

In [ ]:
#re-emerge demographocs to stroop and emo
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [ ]:
#re-build the three summaries again (emo, stroop, rawfile
# ensure numeric age
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

def summarize_demo(df, label):
    cols = [c for c in ["participant_id","sex","age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()
    dfu["sex"] = dfu["sex"].astype(str).str.strip().str.lower().replace({"nan": pd.NA})
    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean(); age_sd = dfu["age"].std()
    age_min  = dfu["age"].min();  age_max = dfu["age"].max()
    return {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

In [ ]:
print("Missing sex (details):", details_unique["sex"].isna().sum())
print("Unmatched Stroop (sex NaN):", stroop_merged["sex"].isna().sum())
print("Unmatched Emo (sex NaN):   ", emo_merged["sex"].isna().sum())

finding a non-binary participant. Which is correct according to the dataset a participant did selflabel as binary. But we will have to exclude this participant due to missing number on this specific group.

In [ ]:
#locate the non-binary
mask_nb = details_unique["sex"].astype(str).str.strip().str.lower() == "non-binary"
details_unique.loc[mask_nb, ["participant_id","sex","age"]]

This information is correct with our dataset.

In [ ]:
# participant to exclude
exclude_nonbinary = ["1216"]

In [ ]:

# remove from cleaned demographics
details_unique = details_unique[~details_unique["participant_id"].isin(exclude_nonbinary)].copy()

In [ ]:
# remove from raw (if you want consistency)
if "participant_id" not in details_df.columns:
    def normalize_id(s):
        return (s.astype(str).str.replace(r"\.0$","",regex=True).str.strip())
    details_df["participant_id"] = normalize_id(details_df["participant_ID"])

details_df = details_df[~details_df["participant_id"].isin(exclude_nonbinary)].copy()

In [ ]:
# remove from instrument data
stroop_df = stroop_df[~stroop_df["participant_id"].isin(exclude_nonbinary)].copy()
emo_df    = emo_df[~emo_df["participant_id"].isin(exclude_nonbinary)].copy()

In [ ]:
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [ ]:
print("Participants left in details:", details_unique["participant_id"].nunique())
print("Any 1216 left in details?", "1216" in details_unique["participant_id"].values)
print("Any 1216 left in Stroop?", "1216" in stroop_df["participant_id"].values)
print("Any 1216 left in Emo?", "1216" in emo_df["participant_id"].values)

Those lines are the checks we wrote to confirm that participant 1216 was successfully excluded. 
Any 1216 left in details? 

False → means 1216 is not present in details_unique.

Any 1216 left in Stroop? False → means 1216 is not present in your Stroop dataset.

Any 1216 left in Emo? False → means 1216 is not present in your Emotional Stroop dataset.

So all three False values are good news: they confirm that participant 1216 was fully removed from every dataset

In [ ]:
# --- 1) Ensure age is numeric and sex normalized (f/m/NaN only) ---
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")
    _df["sex"] = (_df["sex"].astype(str).str.strip().str.lower()
                  .replace({"female": "f", "male": "m", "nan": np.nan, "<na>": np.nan}))

In [ ]:
# --- 2) Helper to summarize demographics ---
def summarize_demo(df, label):
    cols = [c for c in ["participant_id","sex","age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean(); age_sd = dfu["age"].std()
    age_min  = dfu["age"].min();  age_max = dfu["age"].max()

In [ ]:
def summarize_demo(df, label):
    cols = [c for c in ["participant_id", "sex", "age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean()
    age_sd   = dfu["age"].std()
    age_min  = dfu["age"].min()
    age_max  = dfu["age"].max()

    # Pretty-print sex counts: collapse NaN label to '<na>' if present
    if any(pd.isna(k) for k in sex_counts.keys()):
        sex_counts = {
            ("f" if k == "f" else "m" if k == "m" else "<na>"): v
            for k, v in sex_counts.items()
        }

    return {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}" if n else "—",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

In [ ]:
# --- 3) Build summaries ---
stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

In [ ]:
# 🔎 Participants missing sex
missing_sex = details_unique.loc[details_unique["sex"].isna(), ["participant_id", "age"]].sort_values("participant_id")
print("Participants missing sex:", len(missing_sex))
display(missing_sex)

We will tru to check all the data and the steps in one sweep

In [ ]:
# --- ONE-CELL REPAIR: tidy up details, apply your real exclusions/corrections, re-merge, and report ---

import pandas as pd
import numpy as np

# ---- helpers & config ----
def normalize_id(s):
    return (s.astype(str).str.replace(r"\.0$", "", regex=True).str.strip())

def first_nonnull(s):
    s = s.dropna()
    return s.iloc[0] if len(s) else pd.NA

EXCLUDE_IDS = {
    # original big list + final decisions (incl. 1216 excluded)
    "1004","1010","1014","1017","1041","1044","1054","1060","1065","1068",
    "1072","1073","1079","1080","1082","1086","1093","1094","1107","1143",
    "1225","1238","1239","1288","1312","1338","1216"
}

SEX_FIX = {
    "1103": "f",
    "1233": "f",  # corrected from 1223
    "1275": "m",
    "1329": "m",
    "1347": "f",
    "1284": "f",  # you confirmed earlier
}

# ---- choose a source for details ----
if 'details_df' in globals():
    src = details_df.copy()
elif 'details_unique' in globals():
    # fall back to whatever cleaned version you had
    src = details_unique.copy()
else:
    raise NameError("I don't see details_df or details_unique in memory. Please run the cell that loads details first.")

# ensure participant_id exists
if "participant_id" not in src.columns and "participant_ID" in src.columns:
    src["participant_id"] = normalize_id(src["participant_ID"])
elif "participant_id" in src.columns:
    src["participant_id"] = normalize_id(src["participant_id"])
else:
    raise KeyError("Couldn't find a participant id column (participant_id / participant_ID) in details.")

# keep only needed cols if present
keep_cols = ["participant_id"] + [c for c in ["sex","age"] if c in src.columns]
src = src[keep_cols].copy()

# normalize fields
src["sex"] = (src.get("sex")
              .astype(str)
              .str.strip().str.lower()
              .replace({"female":"f","male":"m","nan":np.nan,"<na>":np.nan}))
src["age"] = pd.to_numeric(src.get("age"), errors="coerce")

# deduplicate to one row per participant (first non-null rule)
details_unique = (src.sort_values("participant_id")
                    .groupby("participant_id", as_index=False)
                    .agg(sex=("sex", first_nonnull),
                         age=("age", first_nonnull)))

# apply corrections
for pid, val in SEX_FIX.items():
    details_unique.loc[details_unique["participant_id"] == pid, "sex"] = val

# exclude participants
before_n = details_unique["participant_id"].nunique()
details_unique = details_unique[~details_unique["participant_id"].isin(EXCLUDE_IDS)].copy()
after_n = details_unique["participant_id"].nunique()

# final normalize
details_unique["sex"] = (details_unique["sex"].astype(str).str.strip().str.lower()
                         .replace({"female":"f","male":"m","nan":np.nan,"<na>":np.nan}))
details_unique["age"] = pd.to_numeric(details_unique["age"], errors="coerce")

print(f"[details] Kept {after_n} participants (removed {before_n - after_n}).")

# ---- re-merge into stroop/emo if they exist ----
def merge_if_present(task_df, name):
    if name in globals():
        df = globals()[name].copy()
        if "participant_id" in df.columns:
            df["participant_id"] = normalize_id(df["participant_id"])
            # drop excluded IDs from task DF too
            df = df[~df["participant_id"].isin(EXCLUDE_IDS)].copy()
            merged = df.merge(details_unique, on="participant_id", how="left", validate="m:1")
            globals()[f"{name}_merged"] = merged
            print(f"[merge] {name}: rows={merged.shape[0]} | unmatched sex={merged['sex'].isna().sum()} | unmatched age={merged['age'].isna().sum()}")
        else:
            print(f"[merge] Skipped {name}: no 'participant_id' column.")
    else:
        print(f"[merge] {name} not found in memory; skipping.")

merge_if_present(None, "stroop_df")
merge_if_present(None, "emo_df")

# ---- final checks on details ----
missing_sex = details_unique.loc[details_unique["sex"].isna(), ["participant_id","age"]].sort_values("participant_id")
missing_age = details_unique.loc[details_unique["age"].isna(), ["participant_id","sex"]].sort_values("participant_id")
missing_both = details_unique.loc[details_unique["sex"].isna() & details_unique["age"].isna(), ["participant_id"]]

print(f"[checks] Missing sex in details: {len(missing_sex)}")
print(f"[checks] Missing age in details: {len(missing_age)}")
print(f"[checks] Missing BOTH in details: {len(missing_both)}")

# display lists (comment out if not needed)
display(missing_sex.head(50))
display(missing_age.head(50))
display(missing_both)

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path

# --- point to your file ---
path = Path("C:/github/master_calculations/data/p_details.xlsx")

# --- try header row 0, else 1 (your file has sometimes needed header=1) ---
tmp0 = pd.read_excel(path, engine="openpyxl", header=0)
if any("participant" in str(c).lower() for c in tmp0.columns):
    details_df = tmp0.copy()
else:
    details_df = pd.read_excel(path, engine="openpyxl", header=1)

# --- find the participant id column and standardize its name ---
id_candidates = [c for c in details_df.columns
                 if "participant" in str(c).lower() and "id" in str(c).lower()]
if not id_candidates:
    raise KeyError("Could not find a participant ID column in details_df.")
pid_col = id_candidates[0]
details_df = details_df.rename(columns={pid_col: "participant_ID"})

print("Loaded details_df with columns:", list(details_df.columns)[:10])

In [120]:
##Checking for faults in code/missing things after kernel restart
# ==== DIAGNOSTICS: what exists, shapes, key columns, common pitfalls ====
import pandas as pd, numpy as np
from pathlib import Path

# If you use these paths, set them so we can also check file existence (optional)
DETAILS_XLSX = Path("C:/github/master_calculations/data/p_details.xlsx")
STROOP_CSV   = Path("C:/github/master_calculations/data/stroop_wide.csv")
EMO_CSV      = Path("C:/github/master_calculations/data/emotional_wide.csv")

def exists(name):
    return name in globals()

def info_df(name):
    df = globals()[name]
    print(f"\n[{name}] type={type(df).__name__} shape={getattr(df, 'shape', None)}")
    cols = list(df.columns) if hasattr(df, "columns") else []
    print(f"  columns ({len(cols)}): {cols[:12]}{' ...' if len(cols)>12 else ''}")
    if "participant_id" in cols:
        pid_nulls = df["participant_id"].isna().sum()
        print(f"  ✔ 'participant_id' present | nulls={pid_nulls} | unique IDs={df['participant_id'].nunique()}")
    elif any("participant" in str(c).lower() and "id" in str(c).lower() for c in cols):
        cand = [c for c in cols if "participant" in str(c).lower() and "id" in str(c).lower()][0]
        print(f"  ⚠ 'participant_id' missing; found candidate column: '{cand}'")
    else:
        print("  ❌ No participant id-like column found.")

    for c in ("sex","age"):
        if c in cols:
            nnull = df[c].isna().sum()
            print(f"  {c}: dtype={df[c].dtype} | nulls={nnull}")
        else:
            print(f"  (no '{c}' column)")

# 0) Files on disk (optional but helpful)
print("=== FILE CHECKS ===")
for p in (DETAILS_XLSX, STROOP_CSV, EMO_CSV):
    try:
        print(f"{p}  ->  {'OK' if p.exists() else 'MISSING'}")
    except Exception as e:
        print(f"{p}: (skipped) {e}")

# 1) What DataFrames are in memory?
print("\n=== DATAFRAMES IN MEMORY ===")
for name in ("details_df","details_unique","stroop_df","emo_df","stroop_merged","emo_merged"):
    print(f"{name}: {'present' if exists(name) else 'absent'}")

# 2) Quick summaries for those that exist
for name in ("details_df","details_unique","stroop_df","emo_df","stroop_merged","emo_merged"):
    if exists(name):
        try:
            info_df(name)
        except Exception as e:
            print(f"  !! Could not inspect {name}: {e}")

# 3) Common merge blockers (only if both sides exist)
def check_merge_ready(left_name, right_name="details_unique"):
    if exists(left_name) and exists(right_name):
        L = globals()[left_name]; R = globals()[right_name]
        print(f"\n=== MERGE READINESS: {left_name} ⟷ {right_name} on 'participant_id' ===")
        if "participant_id" not in L.columns: print(f"  ❌ {left_name} missing 'participant_id'")
        if "participant_id" not in R.columns: print(f"  ❌ {right_name} missing 'participant_id'")
        if "participant_id" in L.columns and "participant_id" in R.columns:
            ltype = L["participant_id"].dtype; rtype = R["participant_id"].dtype
            print(f"  dtypes: {left_name}={ltype} | {right_name}={rtype}")
            # uniqueness on right for validate='m:1'
            right_dups = R["participant_id"].duplicated().sum()
            print(f"  {right_name} duplicates on participant_id: {right_dups}")
            if right_dups:
                print("  → Use groupby/drop_duplicates to make right side unique before merge.")
            # coverage
            missing_right = sorted(set(L["participant_id"]) - set(R["participant_id"]))
            print(f"  IDs in {left_name} not in {right_name}: {len(missing_right)}")
            if missing_right[:10]:
                print(f"   e.g., {missing_right[:10]}")

check_merge_ready("stroop_df")
check_merge_ready("emo_df")

=== FILE CHECKS ===
C:\github\master_calculations\data\p_details.xlsx  ->  OK
C:\github\master_calculations\data\stroop_wide.csv  ->  OK
C:\github\master_calculations\data\emotional_wide.csv  ->  OK

=== DATAFRAMES IN MEMORY ===
details_df: present
details_unique: absent
stroop_df: present
emo_df: present
stroop_merged: absent
emo_merged: absent

[details_df] type=DataFrame shape=(351, 18)
  columns (18): ['participant_ID', 'email', 'age', 'sex', 'Interview_date', 'Attended (y/n)', 'tester_initials', 'session_notes', 'EEG_date', 'Attended (y/n).1', 'Tester Initials', 'cap_size'] ...
  ✔ 'participant_id' present | nulls=0 | unique IDs=350
  sex: dtype=object | nulls=22
  age: dtype=object | nulls=19

[stroop_df] type=DataFrame shape=(88, 9)
  columns (9): ['participant_id', 'respc.corr_mean.incongruent', 'respc.corr_std.incongruent', 'respc.rt_mean.incongruent', 'respc.rt_std.incongruent', 'respc.corr_mean.congruent', 'respc.corr_std.congruent', 'respc.rt_mean.congruent', 'respc.rt_std.congruent']
  ✔ 'participant_id' present | nulls=0 | unique IDs=88
  (no 'sex' column)
  (no 'age' column)

[emo_df] type=DataFrame shape=(88, 49)
  columns (49): ['participant_id', 'resp.corr_mean.incongruent.glad.adult', 'resp.corr_std.incongruent.glad.adult', 'resp.rt_mean.incongruent.glad.adult', 'resp.rt_std.incongruent.glad.adult', 'resp.corr_mean.incongruent.trist.adult', 'resp.corr_std.incongruent.trist.adult', 'resp.rt_mean.incongruent.trist.adult', 'resp.rt_std.incongruent.trist.adult', 'resp.corr_mean.incongruent.neu.adult', 'resp.corr_std.incongruent.neu.adult', 'resp.rt_mean.incongruent.neu.adult'] ...
  ✔ 'participant_id' present | nulls=0 | unique IDs=88
  (no 'sex' column)
  (no 'age' column)

In [122]:
# --- REPAIR: build details_keep/details_unique and merge into stroop/emo ---

import pandas as pd
import numpy as np

def normalize_id(s: pd.Series) -> pd.Series:
    return (s.astype(str).str.replace(r"\.0$", "", regex=True).str.strip())

def first_nonnull(s: pd.Series):
    s = s.dropna()
    return s.iloc[0] if len(s) else pd.NA

# 1) Build details_keep from your existing details_df
if "details_df" not in globals():
    raise NameError("details_df is not in memory. (You do have it, per diagnostics.)")

details_keep = details_df.copy()

# ensure we have a normalized participant_id column
if "participant_id" not in details_keep.columns and "participant_ID" in details_keep.columns:
    details_keep["participant_id"] = normalize_id(details_keep["participant_ID"])
else:
    details_keep["participant_id"] = normalize_id(details_keep["participant_id"])

# keep only the columns we need for merging
cols = ["participant_id"] + [c for c in ["sex","age"] if c in details_keep.columns]
details_keep = details_keep[cols].copy()

# tidy types
details_keep["sex"] = (details_keep.get("sex")
                       .astype(str).str.strip().str.lower()
                       .replace({"female":"f","male":"m","nan":np.nan,"<na>":np.nan}))
details_keep["age"] = pd.to_numeric(details_keep.get("age"), errors="coerce")

# 2) De-duplicate to one row per participant (first non-null rule)
details_unique = (details_keep
                  .sort_values("participant_id")
                  .groupby("participant_id", as_index=False)
                  .agg(sex=("sex", first_nonnull),
                       age=("age", first_nonnull)))

print(f"[details_unique] rows={details_unique.shape[0]} | missing sex={details_unique['sex'].isna().sum()} | missing age={details_unique['age'].isna().sum()}")

# 3) Merge into stroop/emo that you already have
def do_merge(left_df, name):
    if name not in globals():
        print(f"[merge] {name} not in memory, skipping.")
        return None
    df = globals()[name].copy()
    if "participant_id" not in df.columns:
        raise KeyError(f"{name} is missing 'participant_id'")
    df["participant_id"] = normalize_id(df["participant_id"])
    merged = df.merge(details_unique, on="participant_id", how="left", validate="m:1")
    globals()[f"{name}_merged"] = merged
    print(f"[merge] {name}: rows={merged.shape[0]} | unmatched sex={merged['sex'].isna().sum()} | unmatched age={merged['age'].isna().sum()}")
    return merged

stroop_merged = do_merge(stroop_df, "stroop_df")
emo_merged    = do_merge(emo_df,    "emo_df")

[details_unique] rows=350 | missing sex=21 | missing age=22
[merge] stroop_df: rows=88 | unmatched sex=1 | unmatched age=0
[merge] emo_df: rows=88 | unmatched sex=1 | unmatched age=0

In [124]:
#Great — that means our base merge works, but we haven’t applied corrections/exclusions yet. Let’s add them on top of your current objects (no restarting, no reloading).

In [126]:
# --- APPLY your exclusions & manual fixes, then re-merge and report ---

import numpy as np
import pandas as pd

# 1) Exclude participants (incl. the 'non-binary' 1216)
EXCLUDE_IDS = {
    "1004","1010","1014","1017","1041","1044","1054","1060","1065","1068",
    "1072","1073","1079","1080","1082","1086","1093","1094","1107",
    "1143","1225","1238","1239","1288","1312","1338","1216"
}

# 2) Manual corrections you confirmed
SEX_FIX = {
    "1103":"f",
    "1233":"f",   # was mistyped as 1223
    "1275":"m",
    "1329":"m",
    "1347":"f",
    "1284":"f",
}
AGE_FIX = {
    "1048": 65,   # confirmed
    # "1224": 41, # uncomment if you want this applied too
}

# 3) Apply fixes on the details you already built (details_unique)
details_unique.loc[
    details_unique["participant_id"].isin(SEX_FIX), "sex"
] = details_unique["participant_id"].map(SEX_FIX)

details_unique.loc[
    details_unique["participant_id"].isin(AGE_FIX), "age"
] = details_unique["participant_id"].map(AGE_FIX)

# 4) Normalize types again
details_unique["sex"] = (details_unique["sex"]
                         .astype(str).str.strip().str.lower()
                         .replace({"female":"f","male":"m","nan":np.nan,"<na>":np.nan}))
details_unique["age"] = pd.to_numeric(details_unique["age"], errors="coerce")

# 5) Drop excluded IDs
before = details_unique["participant_id"].nunique()
details_unique = details_unique[~details_unique["participant_id"].isin(EXCLUDE_IDS)].copy()
after = details_unique["participant_id"].nunique()
print(f"[details_unique] kept {after} (removed {before-after}); "
      f"missing sex={details_unique['sex'].isna().sum()} | missing age={details_unique['age'].isna().sum()}")

# 6) Re-merge into your task dataframes already in memory
def remerge(name):
    df = globals()[name].copy()
    df = df[~df["participant_id"].isin(EXCLUDE_IDS)].copy()
    merged = df.merge(details_unique, on="participant_id", how="left", validate="m:1")
    globals()[f"{name}_merged"] = merged
    miss_sex = merged["sex"].isna().sum()
    miss_age = merged["age"].isna().sum()
    print(f"[merge] {name}: rows={merged.shape[0]} | unmatched sex={miss_sex} | unmatched age={miss_age}")
    if miss_sex:
        ids = merged.loc[merged["sex"].isna(), "participant_id"].unique().tolist()
        print(f"  → IDs missing sex in {name}: {ids}")
    if miss_age:
        ids = merged.loc[merged["age"].isna(), "participant_id"].unique().tolist()
        print(f"  → IDs missing age in {name}: {ids}")

remerge("stroop_df")
remerge("emo_df")

[details_unique] kept 323 (removed 27); missing sex=0 | missing age=0
[merge] stroop_df: rows=87 | unmatched sex=0 | unmatched age=0
[merge] emo_df: rows=87 | unmatched sex=0 | unmatched age=0

What this does

Applies sex fixes and age fix.

Excludes the agreed IDs (including 1216).

Re-merges into stroop_df/emo_df you already loaded.

Prints any remaining IDs missing sex/age in the merged data (should drop to 0, or show the exact stragglers to fill).

'details_unique' kept 323 (removed 27)
→ After applying your exclusions + fixes, your cleaned demographics table now has 323 participants (27 were removed).
→ missing sex=0 | missing age=0 means the demographics are fully complete—no blanks.

(merge) stroop_df: rows=87 and emo_df: rows=87
→ Each task now has 87 participants after exclusions, and everyone has sex & age (no unmatched).
We’re in great shape to proceed.

In [130]:
#final demographics table + saving the clean data:
# Demographics summary
def summarize_demo(df, label):
    cols = ["participant_id","sex","age"]
    d = df[cols].drop_duplicates(subset="participant_id").copy()
    n = len(d)
    sex_counts = d["sex"].value_counts().to_dict()
    age_mean, age_sd = d["age"].mean(), d["age"].std()
    age_min, age_max = d["age"].min(), d["age"].max()
    return {
        "Dataset": label,
        "N": n,
        "F": sex_counts.get("f", 0),
        "M": sex_counts.get("m", 0),
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{int(age_min)} – {int(age_max)}",
    }

import pandas as pd
demo = pd.DataFrame([
    summarize_demo(stroop_df.merge(details_unique, on="participant_id", how="left"), "Classical Stroop"),
    summarize_demo(emo_df.merge(details_unique, on="participant_id", how="left"),    "Emotional Stroop"),
    summarize_demo(details_unique,                                                 "All Participants"),
])
print(demo)

# (Optional) Save clean datasets
stroop_merged.to_csv("C:/github/master_calculations/outputs/stroop_merged_clean.csv", index=False)
emo_merged.to_csv("C:/github/master_calculations/outputs/emo_merged_clean.csv", index=False)
details_unique.to_csv("C:/github/master_calculations/outputs/details_unique_clean.csv", index=False)

            Dataset    N    F   M Age (mean ± SD) Age range
0  Classical Stroop   88   58  29   48.40 ± 13.74   25 – 77
1  Emotional Stroop   88   58  29   48.40 ± 13.74   25 – 77
2  All Participants  323  226  97   47.74 ± 16.47   18 – 82

OSError: Cannot save file into a non-existent directory: 'C:\github\master_calculations\outputs'

In [132]:
from pathlib import Path

outdir = Path("C:/github/master_calculations/outputs")
outdir.mkdir(parents=True, exist_ok=True)

stroop_merged.to_csv(outdir / "stroop_merged_clean.csv", index=False)
emo_merged.to_csv(outdir / "emo_merged_clean.csv", index=False)
details_unique.to_csv(outdir / "details_unique_clean.csv", index=False)

N=88, not 87

In [135]:
import pandas as pd

def summarize_demo(df, label):
    d = df[["participant_id","sex","age"]].drop_duplicates("participant_id")
    sex_counts = d["sex"].value_counts().to_dict()
    return {
        "Dataset": label,
        "N": len(d),
        "F": sex_counts.get("f", 0),
        "M": sex_counts.get("m", 0),
        "Age (mean ± SD)": f"{d['age'].mean():.2f} ± {d['age'].std():.2f}",
        "Age range": f"{int(d['age'].min())} – {int(d['age'].max())}",
    }

demo = pd.DataFrame([
    summarize_demo(stroop_merged, "Classical Stroop"),   # <- use stroop_merged
    summarize_demo(emo_merged,    "Emotional Stroop"),   # <- use emo_merged
    summarize_demo(details_unique, "All Participants"),
])
print(demo)

            Dataset    N    F   M Age (mean ± SD) Age range
0  Classical Stroop   88   57  29   48.25 ± 13.73   25 – 77
1  Emotional Stroop   88   57  29   48.25 ± 13.73   25 – 77
2  All Participants  323  226  97   47.74 ± 16.47   18 – 82

We’re seeing N=88 and F+M=86 (57+29), which means our summary pulled from a dataframe that still has 2 rows with missing sex and 88 unique IDs. Earlier we had 87 with no missing—so we’ve likely summarized the wrong DF (e.g., stroop_df instead of stroop_merged) or stroop_merged got rebuilt without exclusions.

Running this tiny check+fix block:

In [138]:
import pandas as pd
import numpy as np

def quick_check(df, name):
    print(f"\n[{name}] rows={df.shape[0]} | unique IDs={df['participant_id'].nunique()}")
    print("sex counts (incl. missing):")
    print(df["sex"].value_counts(dropna=False))

# 1) Verify we're using the merged, filtered tables
quick_check(stroop_merged, "stroop_merged")
quick_check(emo_merged,    "emo_merged")

# 2) If any missing sex remain, list the IDs
missing_ids = stroop_merged.loc[stroop_merged["sex"].isna(), "participant_id"].unique().tolist()
if missing_ids:
    print("\nIDs with missing sex in stroop_merged:", missing_ids)

# 3) Ensure no excluded IDs slipped back in
EXCLUDE_IDS = {
    "1004","1010","1014","1017","1041","1044","1054","1060","1065","1068",
    "1072","1073","1079","1080","1082","1086","1093","1094","1107",
    "1143","1225","1238","1239","1288","1312","1338","1216"
}
leaked = sorted(set(stroop_merged["participant_id"]) & EXCLUDE_IDS)
print("\nExcluded IDs present in stroop_merged:", leaked)

[stroop_merged] rows=88 | unique IDs=88
sex counts (incl. missing):
sex
f             57
m             29
non-binary     1
<NA>           1
Name: count, dtype: int64

[emo_merged] rows=88 | unique IDs=88
sex counts (incl. missing):
sex
f             57
m             29
non-binary     1
<NA>           1
Name: count, dtype: int64

IDs with missing sex in stroop_merged: ['1284']

Excluded IDs present in stroop_merged: ['1216']

In [140]:
def summarize_strict(df, label):
    d = df[["participant_id","sex","age"]].drop_duplicates("participant_id").copy()
    d["sex"] = (d["sex"].astype(str).str.strip().str.lower()
                .replace({"female":"f","male":"m","nan":np.nan,"<na>":np.nan}))
    n = len(d)
    f = (d["sex"]=="f").sum()
    m = (d["sex"]=="m").sum()
    miss = d["sex"].isna().sum()
    assert n == f + m + miss, "count mismatch"
    return {
        "Dataset": label,
        "N": n,
        "F": f,
        "M": m,
        "Missing sex": miss,
        "Age (mean ± SD)": f"{d['age'].mean():.2f} ± {d['age'].std():.2f}",
        "Age range": f"{int(d['age'].min())} – {int(d['age'].max())}",
    }

demo = pd.DataFrame([
    summarize_strict(stroop_merged, "Classical Stroop"),
    summarize_strict(emo_merged,    "Emotional Stroop"),
    summarize_strict(details_unique,"All Participants"),
])
print(demo)

AssertionError: count mismatch

In [142]:
print("stroop_merged sex values:\n", stroop_merged["sex"].astype(str).value_counts(dropna=False).head(20))
print("\nemo_merged sex values:\n",    emo_merged["sex"].astype(str).value_counts(dropna=False).head(20))

stroop_merged sex values:
 sex
f             57
m             29
non-binary     1
<NA>           1
Name: count, dtype: int64

emo_merged sex values:
 sex
f             57
m             29
non-binary     1
<NA>           1
Name: count, dtype: int64

In [144]:
import numpy as np
import pandas as pd

# 1) Find which IDs are 'non-binary' and which are missing sex
nb_ids_stroop = stroop_merged.loc[
    stroop_merged["sex"].astype(str).str.strip().str.lower() == "non-binary",
    "participant_id"
].unique().tolist()

na_ids_stroop = stroop_merged.loc[
    stroop_merged["sex"].isna() |
    stroop_merged["sex"].astype(str).str.strip().str.lower().isin(["<na>", "nan", ""])
, "participant_id"].unique().tolist()

print("Non-binary IDs in Stroop:", nb_ids_stroop)
print("Missing-sex IDs in Stroop:", na_ids_stroop)

# 2) Exclude non-binary IDs everywhere
EXTRA_EXCLUDE = set(nb_ids_stroop)
if EXTRA_EXCLUDE:
    details_unique = details_unique[~details_unique["participant_id"].isin(EXTRA_EXCLUDE)].copy()
    stroop_merged  = stroop_merged[~stroop_merged["participant_id"].isin(EXTRA_EXCLUDE)].copy()
    emo_merged     = emo_merged[~emo_merged["participant_id"].isin(EXTRA_EXCLUDE)].copy()

# 3) Normalize sex to only f / m / NaN
def coerce_sex(s):
    s = s.astype(str).str.strip().str.lower()
    s = s.replace({"female": "f", "male": "m", "<na>": np.nan, "nan": np.nan})
    s = s.where(s.isin(["f","m"]), np.nan)
    return s

for df in (details_unique, stroop_merged, emo_merged):
    df["sex"] = coerce_sex(df["sex"])

# 4) If you KNOW the missing-sex ID (e.g., 1284) is female, set it here:
KNOWN_SEX_FIX = {
    "1284": "f",   # remove or change if not applicable
}
for pid, sx in KNOWN_SEX_FIX.items():
    for df in (details_unique, stroop_merged, emo_merged):
        df.loc[df["participant_id"] == pid, "sex"] = sx

# 5) Re-check counts
print("\nAfter fixes:")
print("stroop_merged sex counts (incl. missing):")
print(stroop_merged["sex"].value_counts(dropna=False))
print("\nemo_merged sex counts (incl. missing):")
print(emo_merged["sex"].value_counts(dropna=False))

# 6) Final summary
def summarize(df, label):
    d = df[["participant_id","sex","age"]].drop_duplicates("participant_id").copy()
    d["age"] = pd.to_numeric(d["age"], errors="coerce")
    n = len(d)
    f = (d["sex"]=="f").sum()
    m = (d["sex"]=="m").sum()
    miss = d["sex"].isna().sum()
    return {
        "Dataset": label,
        "N": n, "F": f, "M": m, "Missing sex": miss,
        "Age (mean ± SD)": f"{d['age'].mean():.2f} ± {d['age'].std():.2f}",
        "Age range": f"{int(d['age'].min())} – {int(d['age'].max())}",
    }

demo = pd.DataFrame([
    summarize(stroop_merged, "Classical Stroop"),
    summarize(emo_merged,    "Emotional Stroop"),
    summarize(details_unique,"All Participants"),
])
print("\nFinal demo:")
print(demo)

Non-binary IDs in Stroop: ['1216']
Missing-sex IDs in Stroop: ['1284']

After fixes:
stroop_merged sex counts (incl. missing):
sex
f    58
m    29
Name: count, dtype: int64

emo_merged sex counts (incl. missing):
sex
f    58
m    29
Name: count, dtype: int64

Final demo:
            Dataset    N    F   M  Missing sex Age (mean ± SD) Age range
0  Classical Stroop   87   58  29            0   48.40 ± 13.74   25 – 77
1  Emotional Stroop   87   58  29            0   48.40 ± 13.74   25 – 77
2  All Participants  323  226  97            0   47.74 ± 16.47   18 – 82

✅ Participant 1216 (non-binary) was successfully excluded everywhere.

✅ Participant 1284 was filled in as female, so no more <NA> missing sex.

✅ Both Stroop and Emotional Stroop datasets now have 87 participants each (58F / 29M).

✅ Your full participant pool is 323 total (226F / 97M), with no missing sex or age values.

✅ Age stats look consistent and clean.

In [147]:
#Saving the final Dataset that is cleaned

from pathlib import Path

# make folder (with spaces replaced by underscores for safe path handling)
outdir = Path("C:/github/master_calculations/final_clean_data")
outdir.mkdir(parents=True, exist_ok=True)

# save cleaned data
stroop_merged.to_csv(outdir / "stroop_merged.csv", index=False)
emo_merged.to_csv(outdir / "emo_merged.csv", index=False)
details_unique.to_csv(outdir / "details_unique.csv", index=False)

print("✅ Saved clean datasets to:", outdir)

✅ Saved clean datasets to: C:\github\master_calculations\final_clean_data

Perfect — let’s save both CSV and Excel (.xlsx) versions in our final_clean_data folder 🚀

In [151]:
from pathlib import Path

# create folder if not exists
outdir = Path("C:/github/master_calculations/final_clean_data")
outdir.mkdir(parents=True, exist_ok=True)

# CSV
stroop_merged.to_csv(outdir / "stroop_merged.csv", index=False)
emo_merged.to_csv(outdir / "emo_merged.csv", index=False)
details_unique.to_csv(outdir / "details_unique.csv", index=False)

# Excel
with pd.ExcelWriter(outdir / "clean_data.xlsx", engine="openpyxl") as writer:
    stroop_merged.to_excel(writer, sheet_name="Stroop", index=False)
    emo_merged.to_excel(writer, sheet_name="Emo", index=False)
    details_unique.to_excel(writer, sheet_name="Details", index=False)

print("✅ Saved CSVs + Excel workbook to:", outdir)

✅ Saved CSVs + Excel workbook to: C:\github\master_calculations\final_clean_data

Let’s add our demographics summary table as a fourth sheet in the Excel workbook.

In [155]:
import pandas as pd

def summarize(df, label):
    d = df[["participant_id","sex","age"]].drop_duplicates("participant_id").copy()
    d["age"] = pd.to_numeric(d["age"], errors="coerce")
    return {
        "Dataset": label,
        "N": len(d),
        "F": (d["sex"]=="f").sum(),
        "M": (d["sex"]=="m").sum(),
        "Missing sex": d["sex"].isna().sum(),
        "Age (mean ± SD)": f"{d['age'].mean():.2f} ± {d['age'].std():.2f}",
        "Age range": f"{int(d['age'].min())} – {int(d['age'].max())}",bb
    }

demo = pd.DataFrame([
    summarize(stroop_merged, "Classical Stroop"),
    summarize(emo_merged,    "Emotional Stroop"),
    summarize(details_unique,"All Participants"),
])

print(demo)

            Dataset    N    F   M  Missing sex Age (mean ± SD) Age range
0  Classical Stroop   87   58  29            0   48.40 ± 13.74   25 – 77
1  Emotional Stroop   87   58  29            0   48.40 ± 13.74   25 – 77
2  All Participants  323  226  97            0   47.74 ± 16.47   18 – 82

In [159]:
from pathlib import Path
import pandas as pd

# 📊 Final demographics summary function
def summarize(df, label):
    d = df[["participant_id","sex","age"]].drop_duplicates("participant_id").copy()
    d["age"] = pd.to_numeric(d["age"], errors="coerce")
    return {
        "Dataset": label,
        "N": len(d),
        "F": (d["sex"]=="f").sum(),
        "M": (d["sex"]=="m").sum(),
        "Missing sex": d["sex"].isna().sum(),
        "Age (mean ± SD)": f"{d['age'].mean():.2f} ± {d['age'].std():.2f}",
        "Age range": f"{int(d['age'].min())} – {int(d['age'].max())}",
    }

# ✅ Build summary table
demo = pd.DataFrame([
    summarize(stroop_merged, "Classical Stroop"),
    summarize(emo_merged,    "Emotional Stroop"),
    summarize(details_unique,"All Participants"),
])

# 🖥️ Pretty-print for thesis (Markdown-style)
print(demo.to_markdown(index=False))

# 💾 Save to Excel in final_clean_data
outdir = Path("C:/github/master_calculations/final_clean_data")
outdir.mkdir(parents=True, exist_ok=True)

demo.to_excel(outdir / "demographics_summary.xlsx", index=False)

print(f"\n✅ Saved demographics_summary.xlsx in {outdir}")

| Dataset          |   N |   F |   M |   Missing sex | Age (mean ± SD)   | Age range   |
|:-----------------|----:|----:|----:|--------------:|:------------------|:------------|
| Classical Stroop |  87 |  58 |  29 |             0 | 48.40 ± 13.74     | 25 – 77     |
| Emotional Stroop |  87 |  58 |  29 |             0 | 48.40 ± 13.74     | 25 – 77     |
| All Participants | 323 | 226 |  97 |             0 | 47.74 ± 16.47     | 18 – 82     |

✅ Saved demographics_summary.xlsx in C:\github\master_calculations\final_clean_data