### Does Bilingualism affect the Inhibition Deficit and the Aging effect on the elderly?

#### Abstract

#### Introduction

##### Pacages Imported to perform the different Statistical tests, analyses, and graphs

In [5]:
#install package to open and read excel sheets
from pathlib import Path
#!pip install openpyxl

# Installing package to perform Normality check (Shapiro-Wilk test)
from scipy.stats import shapiro

# Installing package to perform other Statistical analysis like Kruskal-Wallis test, and hypothesis testing 
import pandas as pd
import scipy.stats as stats

# Installing Scikit-posthocs package to perform post-hoc test
#!pip install scikit-posthocs

# Installing to perform specific post-hoc test, Dunn's post-hoc test.
import scikit_posthocs as sp
import pandas as pd

# Installing pingouin Library package to perform mixed-design ANOVA, and other Statistical analysis:
#!pip install pingouin
import pingouin as pg
import itertools

# Installing package to create some visuals like error-bars.
import seaborn as sns
import matplotlib.pyplot as plt

##### Pandas dataframe

In this pipeline we use mostly Pandas packaging. Pandas DataFrames offer a powerful and flexible structure for data manipulation and analysis. They enable efficient data cleaning, merging, reshaping, and summarization with concise, readable code—making complex data workflows accessible and reproducible, which is essential for robust scientific research.

##### Calculation Steps

- Upload the data:

1. Upload data from csv.
   It was detected when we uploaded the data that the tables was showing separation by ; not ,
   * had to define new sep as it was separated by ; not ,
   * Data values were written with comma rather than dot. Therefore we needed to replace the commas with dots. Then python could automatically convert to float values we also used slicing to get the columns needed

In [11]:

from pathlib import Path

In [12]:
# load your files (note the extension is now .csv)
emo_df = pd.read_csv(Path("C:/github/master_calculations/data/emotional_wide.csv"), sep=";", decimal=",")
stroop_df = pd.read_csv(Path("C:/github/master_calculations/data/stroop_wide.csv"), sep=";", decimal=",")

- Open files:

Classical Stroop

In [15]:
stroop_df

,participant_id,respc.corr_mean.incongruent,respc.corr_std.incongruent,respc.rt_mean.incongruent,respc.rt_std.incongruent,respc.corr_mean.congruent,respc.corr_std.congruent,respc.rt_mean.congruent,respc.rt_std.congruent
0,1203,1.000000,0.000000,0.715111,0.254540,0.966667,0.074536,0.773110,0.257307
1,1204,1.000000,0.000000,0.606518,0.126010,1.000000,0.000000,0.677501,0.173684
2,1205,1.000000,0.000000,0.995745,0.265899,0.966667,0.074536,1.118971,0.252094
3,1206,0.933333,0.091287,0.704573,0.155570,0.966667,0.074536,0.816686,0.219771
4,1207,1.000000,0.000000,0.683636,0.224203,0.900000,0.223607,0.797774,0.224723
...,...,...,...,...,...,...,...,...,...
83,1319,1.000000,0.000000,0.725578,0.237461,1.000000,0.000000,0.751577,0.212407
84,1326,0.933333,0.149071,0.937385,0.420897,1.000000,0.000000,0.886707,0.254680
85,1337,0.966667,0.074536,0.672102,0.261308,0.966667,0.074536,0.654819,0.181993
86,1344,0.966667,0.074536,1.105055,0.271146,0.866667,0.240358,1.289605,0.350826
87,1345,0.966667,0.074536,0.810246,0.194319,0.966667,0.074536,1.032755,0.272284

Emotional Stroop

In [17]:
emo_df

,participant_id,resp.corr_mean.incongruent.glad.adult,resp.corr_std.incongruent.glad.adult,resp.rt_mean.incongruent.glad.adult,resp.rt_std.incongruent.glad.adult,resp.corr_mean.incongruent.trist.adult,resp.corr_std.incongruent.trist.adult,resp.rt_mean.incongruent.trist.adult,resp.rt_std.incongruent.trist.adult,resp.corr_mean.incongruent.neu.adult,...,resp.rt_mean.congruent.glad.baby,resp.rt_std.congruent.glad.baby,resp.corr_mean.congruent.trist.baby,resp.corr_std.congruent.trist.baby,resp.rt_mean.congruent.trist.baby,resp.rt_std.congruent.trist.baby,resp.corr_mean.congruent.neu.baby,resp.corr_std.congruent.neu.baby,resp.rt_mean.congruent.neu.baby,resp.rt_std.congruent.neu.baby
0,1203,1.0,0.000000,0.834702,0.143169,0.9,0.141421,0.925454,0.278187,1.0,...,0.854535,0.232593,0.958333,0.058926,0.924575,0.271926,0.958333,0.058926,1.000787,0.318872
1,1204,0.9,0.141421,0.631355,0.123766,1.0,0.000000,0.651777,0.033001,1.0,...,0.704160,0.173085,0.958333,0.058926,0.581735,0.123698,1.000000,0.000000,0.580491,0.083795
2,1205,1.0,0.000000,0.855834,0.194823,1.0,0.000000,0.771844,0.109109,1.0,...,0.850434,0.135730,0.916667,0.117851,0.863746,0.138510,0.958333,0.058926,0.794245,0.176831
3,1206,1.0,0.000000,0.734624,0.079265,1.0,0.000000,0.852039,0.151549,1.0,...,0.820891,0.107333,1.000000,0.000000,0.830719,0.146121,1.000000,0.000000,0.744530,0.085321
4,1207,1.0,0.000000,0.936832,0.195431,1.0,0.000000,0.804329,0.208366,1.0,...,0.935145,0.187571,0.958333,0.058926,0.885868,0.133503,0.875000,0.058926,0.743572,0.095836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1319,1.0,0.000000,0.968130,0.235274,1.0,0.000000,0.879301,0.067024,1.0,...,1.073240,0.315628,0.875000,0.176777,1.108588,0.372499,1.000000,0.000000,0.797543,0.135086
84,1326,1.0,0.000000,0.844349,0.111004,1.0,0.000000,0.978748,0.102694,1.0,...,0.852385,0.072896,0.958333,0.058926,0.949973,0.147841,0.958333,0.058926,0.858571,0.120270
85,1337,1.0,0.000000,0.744503,0.144672,1.0,0.000000,0.839017,0.099145,1.0,...,0.760030,0.141914,0.958333,0.058926,0.851125,0.221673,1.000000,0.000000,0.845381,0.143963
86,1344,1.0,0.000000,0.886098,0.155842,1.0,0.000000,0.760499,0.151753,1.0,...,0.824691,0.182646,1.000000,0.000000,0.868993,0.095461,1.000000,0.000000,0.872308,0.172360
87,1345,1.0,0.000000,0.961006,0.336347,1.0,0.000000,1.098052,0.225527,1.0,...,0.983500,0.274123,0.958333,0.058926,1.088604,0.220189,1.000000,0.000000,0.729422,0.147840

In [18]:
# Confirm types look right
stroop_df.dtypes.head(12)
emo_df.dtypes.head(12)

participant_id                              int64
resp.corr_mean.incongruent.glad.adult     float64
resp.corr_std.incongruent.glad.adult      float64
resp.rt_mean.incongruent.glad.adult       float64
resp.rt_std.incongruent.glad.adult        float64
resp.corr_mean.incongruent.trist.adult    float64
resp.corr_std.incongruent.trist.adult     float64
resp.rt_mean.incongruent.trist.adult      float64
resp.rt_std.incongruent.trist.adult       float64
resp.corr_mean.incongruent.neu.adult      float64
resp.corr_std.incongruent.neu.adult       float64
resp.rt_mean.incongruent.neu.adult        float64
dtype: object

In [19]:
# See if any NaNs appeared after conversion (e.g., non-numeric text)
stroop_df.isna().sum().sort_values(ascending=False).head(10)
emo_df.isna().sum().sort_values(ascending=False).head(10)

participant_id                           0
resp.corr_mean.incongruent.glad.baby     0
resp.rt_mean.incongruent.glad.baby       0
resp.rt_std.incongruent.glad.baby        0
resp.corr_mean.incongruent.trist.baby    0
resp.corr_std.incongruent.trist.baby     0
resp.rt_mean.incongruent.trist.baby      0
resp.rt_std.incongruent.trist.baby       0
resp.corr_mean.incongruent.neu.baby      0
resp.corr_std.incongruent.neu.baby       0
dtype: int64

In [20]:
stroop_df["participant_id"] = stroop_df["participant_id"].astype(str)

In [21]:
emo_df.describe()

,participant_id,resp.corr_mean.incongruent.glad.adult,resp.corr_std.incongruent.glad.adult,resp.rt_mean.incongruent.glad.adult,resp.rt_std.incongruent.glad.adult,resp.corr_mean.incongruent.trist.adult,resp.corr_std.incongruent.trist.adult,resp.rt_mean.incongruent.trist.adult,resp.rt_std.incongruent.trist.adult,resp.corr_mean.incongruent.neu.adult,...,resp.rt_mean.congruent.glad.baby,resp.rt_std.congruent.glad.baby,resp.corr_mean.congruent.trist.baby,resp.corr_std.congruent.trist.baby,resp.rt_mean.congruent.trist.baby,resp.rt_std.congruent.trist.baby,resp.corr_mean.congruent.neu.baby,resp.corr_std.congruent.neu.baby,resp.rt_mean.congruent.neu.baby,resp.rt_std.congruent.neu.baby
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,...,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,1266.170455,0.965909,0.032141,0.839050,0.162535,0.963636,0.038569,0.876550,0.181659,0.979167,...,0.839282,0.170302,0.936080,0.040846,0.905969,0.200276,0.974432,0.020088,0.799207,0.145589
std,41.831688,0.116349,0.073429,0.118615,0.087137,0.110570,0.085035,0.148745,0.116965,0.038428,...,0.124196,0.087086,0.176545,0.054607,0.138716,0.084498,0.096522,0.038827,0.124248,0.072272
min,1203.000000,0.000000,0.000000,0.628502,0.036224,0.100000,0.000000,0.575645,0.033001,0.833333,...,0.629927,0.062028,0.000000,0.000000,0.581735,0.076558,0.125000,0.000000,0.580491,0.051065
25%,1228.750000,1.000000,0.000000,0.755970,0.099702,1.000000,0.000000,0.781008,0.099415,1.000000,...,0.749487,0.112040,0.916667,0.000000,0.814037,0.133147,0.958333,0.000000,0.715115,0.102361
50%,1262.500000,1.000000,0.000000,0.832294,0.143920,1.000000,0.000000,0.845678,0.150347,1.000000,...,0.823834,0.148653,1.000000,0.000000,0.898520,0.188464,1.000000,0.000000,0.782664,0.130587
75%,1301.250000,1.000000,0.000000,0.898917,0.200575,1.000000,0.000000,0.952084,0.240777,1.000000,...,0.899481,0.201692,1.000000,0.058926,0.991394,0.248895,1.000000,0.058926,0.863237,0.168149
max,1345.000000,1.000000,0.424264,1.159541,0.501599,1.000000,0.424264,1.334006,0.780579,1.000000,...,1.258131,0.657062,1.000000,0.235702,1.396446,0.487515,1.000000,0.235702,1.241493,0.490676

In [22]:
stroop_df.describe ()

,respc.corr_mean.incongruent,respc.corr_std.incongruent,respc.rt_mean.incongruent,respc.rt_std.incongruent,respc.corr_mean.congruent,respc.corr_std.congruent,respc.rt_mean.congruent,respc.rt_std.congruent
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,0.976894,0.048384,0.853074,0.251353,0.933333,0.090096,0.992118,0.310842
std,0.035145,0.072897,0.212774,0.145106,0.152543,0.109454,0.291179,0.164527
min,0.833333,0.000000,0.481819,0.070943,0.000000,0.000000,0.596278,0.095487
25%,0.966667,0.000000,0.703588,0.154486,0.933333,0.000000,0.782203,0.207822
50%,1.000000,0.000000,0.786450,0.227217,0.966667,0.074536,0.896302,0.255542
75%,1.000000,0.074536,0.965770,0.297830,1.000000,0.149071,1.177996,0.363376
max,1.000000,0.314894,1.598872,1.007927,1.000000,0.514220,2.110163,1.002553

In [23]:
path = Path("C:/github/master_calculations/data/p_details.xlsx")  # sjekk at navnet og endelsen stemmer!

In [24]:
details_df = pd.read_excel(path, engine="openpyxl", header=0, decimal=",")

In [25]:
details_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Session 1-Interview,Unnamed: 5,Unnamed: 6,Unnamed: 7,Session 2- EEG,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Session 3- MRI (as applicable),Unnamed: 16
0,participant_ID,email,age,sex,Interview_date,Attended (y/n),tester_initials,session_notes,EEG_date,Attended (y/n),Tester Initials,cap_size,distance_from_screen_cm,MMSE_score,session_notes,MRI_date,Notes
1,1001,eirik.m.rosoy@gmail.com,49,m,2022-02-01 00:00:00,y,JR/VD,"Q20: accent in French must be only moderate, n...",2022-02-01 00:00:00,y,GB7JR/VD,59,-,30,70 minutes ENC to RET,TBC(?),NaN
2,1002,gro.kiil.larsen@gmail.com,45,f,2022-02-04 00:00:00,y,TV,NaN,2022-02-07 00:00:00,y,HT/SZ/TV,59,-,29,Isssue with triggers during ENC portion of epi...,TBC(?),NaN
3,1003,beathe.thomsen@tffk.no,48,f,2022-02-10 00:00:00,y,HT,"Q20: accents should be: English - very strong,...",2022-02-17 00:00:00,y,HT/SZ,55,-,30,87 minutes ENC to RET Had issues with datamous...,TBC(?),NaN
4,1004,sapmi77@yahoo.no,NaN,NaN,2022-02-17 00:00:00,n,JR,NO SHOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBC(?),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,1346,k-lien@live.no,44,m,2024-11-06 00:00:00,y,KE,"noisy background (UiT common area), still student",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,1347,siwmb@online.no,56,NaN,2024-11-13 00:00:00,n,KE,rescheduled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,1348,lenelias82@gmail.com,42,f,2024-11-14 00:00:00,y,KE,metal object in the hip (?),26.11.24,Y,AG/FG,53,59,28,65min enc to ret,NaN,NaN
350,1349,torbjorn.nordmo@gmail.com,59,m,2024-12-03 00:00:00,y,KE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,1350,tove_kristine@hotmail.com,52,f,2024-12-05 00:00:00,y,KE,"metallic object in the shoulder - also, someho...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
print(details_df.columns.tolist())

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Session 1-Interview', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Session 2- EEG ', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Session 3- MRI (as applicable)', 'Unnamed: 16']

In [27]:
details_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Session 1-Interview,Unnamed: 5,Unnamed: 6,Unnamed: 7,Session 2- EEG,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Session 3- MRI (as applicable),Unnamed: 16
0,participant_ID,email,age,sex,Interview_date,Attended (y/n),tester_initials,session_notes,EEG_date,Attended (y/n),Tester Initials,cap_size,distance_from_screen_cm,MMSE_score,session_notes,MRI_date,Notes
1,1001,eirik.m.rosoy@gmail.com,49,m,2022-02-01 00:00:00,y,JR/VD,"Q20: accent in French must be only moderate, n...",2022-02-01 00:00:00,y,GB7JR/VD,59,-,30,70 minutes ENC to RET,TBC(?),NaN
2,1002,gro.kiil.larsen@gmail.com,45,f,2022-02-04 00:00:00,y,TV,NaN,2022-02-07 00:00:00,y,HT/SZ/TV,59,-,29,Isssue with triggers during ENC portion of epi...,TBC(?),NaN
3,1003,beathe.thomsen@tffk.no,48,f,2022-02-10 00:00:00,y,HT,"Q20: accents should be: English - very strong,...",2022-02-17 00:00:00,y,HT/SZ,55,-,30,87 minutes ENC to RET Had issues with datamous...,TBC(?),NaN
4,1004,sapmi77@yahoo.no,NaN,NaN,2022-02-17 00:00:00,n,JR,NO SHOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBC(?),NaN
5,1005,eline.holdo@gmail.com,46,f,2022-02-18 00:00:00,y,JR,NaN,2022-02-21 00:00:00,y,HT/JR,57,-,30,55 minutes ENC to RET,TBC(?),NaN
6,1006,bjorg.hestvik@gmail.com,65,f,2022-02-21 00:00:00,y,TV/SZ,SZ Training session,2022-02-28 00:00:00,y,HT/JR,55,-,29,"Stopped during practice ENC, because EEG was v...",TBC(?),NaN
7,1007,stine@fam-barlindhaug.no,54,f,2022-02-22 00:00:00,y,TV,NaN,2022-05-18 00:00:00,y,HT/AK/MF,57,56,30,62 minutes ENC to RET,TBC(?),NaN
8,1008,helge.matland@gmail.com,67,m,2022-02-22 00:00:00,y,JR,NaN,2022-02-25 00:00:00,y,HT/VD,59,-,29,59 minutes ENC to RET. Ppt said he forgot whic...,TBC(?),NaN
9,1009,i-hemmin@online.no,56,f,2022-02-22 00:00:00,y,JR,NaN,2022-03-08 00:00:00,y,AG/VD,57,61,29,66 minutes from ENC to RET. P8 & P10 might hav...,TBC(?),NaN

In [28]:
details_df = pd.read_excel(
    path,
    engine="openpyxl",
    header=1,   # Bruk rad 2 som kolonnenavn (0 = første rad)
    decimal=","
)

In [29]:
demo_df = details_df[["participant_ID", "sex", "age"]]
print(demo_df.head())

   participant_ID  sex  age
0            1001    m   49
1            1002    f   45
2            1003    f   48
3            1004  NaN  NaN
4            1005    f   46

In [30]:
#Merging participant details and emotional dataframe, and participant details and stroop dataframe

In [31]:
#merging participant details and stroop dataframe

In [32]:
#first standardize the ID in both dataframes

In [33]:
def normalize_id(s: pd.Series) -> pd.Series:
    return (s.astype(str).str.replace(r"\.0$", "", regex=True).str.strip())

details_df["participant_id"] = normalize_id(details_df["participant_ID"])
stroop_df["participant_id"]  = normalize_id(stroop_df["participant_id"])
emo_df["participant_id"]     = normalize_id(emo_df["participant_id"])

In [59]:
# how many duplicates?
details_keep["participant_id"].duplicated().sum()

# inspect which IDs are duplicated
dups = details_keep[details_keep["participant_id"].duplicated(keep=False)]\
        .sort_values("participant_id")
dups.head(20)

    participant_id  sex age
223           1224    f  32
224           1224  NaN  41

In [63]:
conflicts = (details_keep
    .groupby("participant_id")
    .agg(
        n_age=("age",    lambda s: s.dropna().nunique()),
        ages=("age",     lambda s: tuple(sorted(s.dropna().unique()))),
        n_sex=("sex",    lambda s: s.dropna().nunique()),
        sexes=("sex",    lambda s: tuple(sorted(s.dropna().unique())))
    )
    .query("n_age > 1 or n_sex > 1")
)
conflicts  # <- manually check these later (e.g., 1224: ages (32, 41))

                n_age      ages  n_sex sexes
participant_id
1224                2  (32, 41)      1  (f,)

In [65]:
# First, de-duplicate using "first non-null" rule
def first_nonnull(s):
    s = s.dropna()
    return s.iloc[0] if len(s) else pd.NA

details_unique = (details_keep
    .sort_values(["participant_id"])
    .groupby("participant_id", as_index=False)
    .agg(sex=("sex", first_nonnull),
         age=("age", first_nonnull))
)

In [67]:
# Then manually fix participant 1224
details_unique.loc[details_unique["participant_id"] == "1224", "age"] = 41

In [69]:
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [71]:
# check that everyone got matched
print("Stroop unmatched:", stroop_merged["sex"].isna().sum())
print("Emo unmatched:   ", emo_merged["sex"].isna().sum())

Stroop unmatched: 1
Emo unmatched:    1

In [73]:
stroop_unmatched = stroop_merged[stroop_merged["sex"].isna()]["participant_id"].unique()
emo_unmatched    = emo_merged[emo_merged["sex"].isna()]["participant_id"].unique()

print("Unmatched in Stroop:", stroop_unmatched)
print("Unmatched in Emo:   ", emo_unmatched)

Unmatched in Stroop: ['1284']
Unmatched in Emo:    ['1284']

In [75]:
details_unique.query("participant_id == '1284'")

    participant_id   sex age
283           1284  <NA>  53

In [77]:
# Fill in missing sex for participant 1284
details_unique.loc[details_unique["participant_id"] == "1284", "sex"] = "f"

In [79]:
# Re-merge so the correction is included
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [81]:
# Double-check: no unmatched left
print("Stroop unmatched:", stroop_merged["sex"].isna().sum())
print("Emo unmatched:   ", emo_merged["sex"].isna().sum())

Stroop unmatched: 0
Emo unmatched:    0

In [83]:
import numpy as np

In [85]:
def summarize_demo(df, label):
    """Summarize demographics for a dataset"""
    # drop duplicates in case multiple rows per participant
    df_unique = df.drop_duplicates(subset="participant_id")

    n = len(df_unique)
    sex_counts = df_unique["sex"].value_counts(dropna=False).to_dict()
    age_mean = df_unique["age"].mean()
    age_sd   = df_unique["age"].std()
    age_min  = df_unique["age"].min()
    age_max  = df_unique["age"].max()

    summary = {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{age_min} – {age_max}"
    }
    return summary

In [89]:
#We will make sure age is numeric to continue on to make some information tables
# ensure age is numeric in the three dataframes we’ll summarize from
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

In [91]:
def summarize_demo(df, label):
    # one row per participant
    cols = [c for c in ["participant_id", "sex", "age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    # standardize sex strings a bit
    dfu["sex"] = dfu["sex"].astype(str).str.strip().str.lower().replace({"nan": np.nan})

    # numeric age (already coerced, but safe)
    dfu["age"] = pd.to_numeric(dfu["age"], errors="coerce")

    # counts
    n_total = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()

    # age stats
    age_mean = dfu["age"].mean()
    age_sd   = dfu["age"].std()
    age_min  = dfu["age"].min()
    age_max  = dfu["age"].max()

    return {
        "Dataset": label,
        "N": n_total,
        "Sex counts": sex_counts,                 # e.g. {'f': 45, 'm': 43, nan: 0}
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

In [93]:
#building the three tables: one for stroop, one for emotional, and one where both are combined
stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

            Dataset    N                                         Sex counts  \
0  Classical Stroop   88                {'f': 58, 'm': 29, 'non-binary': 1}
1  Emotional Stroop   88                {'f': 58, 'm': 29, 'non-binary': 1}
2  All Participants  350  {'f': 228, 'm': 101, '<na>': 20, 'non-binary': 1}

  Age (mean ± SD) Age range
0   48.25 ± 13.73   25 – 77
1   48.25 ± 13.73   25 – 77
2   47.63 ± 16.43   18 – 82

In [99]:
#lets check for the 'non-binary group'. We don't have any non-binary group. Let's fix this wil willing in manually sex for the ones that are in this category.
details_unique["sex"].value_counts(dropna=False)

sex
f             228
m             101
<NA>           20
non-binary      1
Name: count, dtype: int64

In [103]:
#lets see which participants are tagged this way
# 1) Make a normalized helper series (lowercase, trimmed; keep NaN as NaN)
sex_norm = (details_unique["sex"]
            .astype(str)
            .str.strip()
            .str.lower()
            .replace({"nan": np.nan}))

In [105]:
# 2) See ALL unique values currently present (helps spot typos)
print("Unique sex values:", sorted(sex_norm.dropna().unique()))

Unique sex values: ['<na>', 'f', 'm', 'non-binary']

In [107]:
# 3) Find anything NOT in {'f','m'}  (potential typos / unwanted categories)
weird_mask = sex_norm.notna() & ~sex_norm.isin({"f", "m"})
weird_rows = details_unique.loc[weird_mask, ["participant_id", "sex", "age"]]
print("Non-standard sex entries:\n", weird_rows)

Non-standard sex entries:
     participant_id         sex   age
3             1004        <NA>   NaN
9             1010        <NA>   NaN
13            1014        <NA>   NaN
16            1017        <NA>   NaN
43            1044        <NA>   NaN
72            1073        <NA>   NaN
79            1080        <NA>   NaN
102           1103        <NA>  66.0
106           1107        <NA>   NaN
142           1143        <NA>  62.0
215           1216  non-binary  35.0
224           1225        <NA>  23.0
232           1233        <NA>  34.0
237           1238        <NA>  58.0
238           1239        <NA>  51.0
274           1275        <NA>  33.0
287           1288        <NA>  30.0
311           1312        <NA>   NaN
328           1329        <NA>  70.0
337           1338        <NA>   NaN
346           1347        <NA>  56.0

So there is age missing, and sex missing. Let's check all the participants in two groups: the ones that are missing sex, and the ones that are missing age. Let's start with the ones missing age. Scan all these and then manually fill in.

In [112]:
#Find all participants with missing age

In [114]:
# make sure age is numeric so we can reliably find missing
details_unique["age"] = pd.to_numeric(details_unique["age"], errors="coerce")

In [118]:
# list all with missing age
missing_age = (details_unique
               .loc[details_unique["age"].isna(), ["participant_id", "sex", "age"]]
               .sort_values("participant_id"))
print(f"Participants with missing age: {len(missing_age)}")
missing_age.head(22)

Participants with missing age: 22

    participant_id   sex  age
3             1004  <NA>  NaN
9             1010  <NA>  NaN
13            1014  <NA>  NaN
16            1017  <NA>  NaN
40            1041     f  NaN
43            1044  <NA>  NaN
47            1048     m  NaN
53            1054     f  NaN
59            1060     f  NaN
64            1065     m  NaN
67            1068     m  NaN
71            1072     m  NaN
72            1073  <NA>  NaN
78            1079     m  NaN
79            1080  <NA>  NaN
81            1082     m  NaN
85            1086     f  NaN
92            1093     f  NaN
93            1094     m  NaN
106           1107  <NA>  NaN
311           1312  <NA>  NaN
337           1338  <NA>  NaN

In [ ]:
#Checked the following participants age, and the following did not show up:
    # "1004": no show,
    # "1010": no show,
    # "1014": no show,
    # "1017": no show
    # "1041": no show
    # "1044: no show, 
    # "1048": spurte alder
    # "1054": no show
    # "1060": excluded due to head trauma
    # "1065": no show
    # "1068": no show
    # "1072": no show
    # "1073": no show
    # "1079": no show
    # "1080": no show
    # "1082": no show
    # "1086": no show
    # "1093": no show
    # "1094": no show
    # "1107": excluded due to hist. with antidepressants and other psychotripic medicines. Suffered a serious fall as well. 
    # "1312": no show
    # "1338": no show

In [120]:
# Exclusions: participant_id (as strings) -> reason
exclusions = {
    "1004": "no show",
    "1010": "no show",
    "1014": "no show",
    "1017": "no show",
    "1041": "no show",
    "1044": "no show",  # <- you missed a quote earlier; fixed here
    "1048": "asked age / missing age",
    "1054": "no show",
    "1060": "head trauma",
    "1065": "no show",
    "1068": "no show",
    "1072": "no show",
    "1073": "no show",
    "1079": "no show",
    "1080": "no show",
    "1082": "no show",
    "1086": "no show",
    "1093": "no show",
    "1094": "no show",
    "1107": "psychotropic meds + serious fall",
    "1312": "no show",
    "1338": "no show",
}
exclude_ids = set(exclusions.keys())

In [122]:
# Drop these participants from details + raw instrument data
# details_unique, stroop_df, emo_df should already exist and have normalized string IDs
# Remove from details
details_unique = details_unique[~details_unique["participant_id"].isin(exclude_ids)].copy()

In [124]:
# Also remove from instrument data (in case any slipped in)
stroop_df = stroop_df[~stroop_df["participant_id"].isin(exclude_ids)].copy()
emo_df    = emo_df[~emo_df["participant_id"].isin(exclude_ids)].copy()

In [126]:
# re-merge demographics to the instruments
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [128]:
#checking the data 
print("Remaining details participants:", details_unique["participant_id"].nunique())
print("Unmatched Stroop (missing sex):", stroop_merged["sex"].isna().sum())
print("Unmatched Emo (missing sex):   ", emo_merged["sex"].isna().sum())

# Verify none of the excluded IDs remain anywhere
def any_left(df, name):
    left = sorted(set(df["participant_id"]) & exclude_ids)
    print(f"Excluded IDs still in {name}: {left}")

any_left(details_unique, "details_unique")
any_left(stroop_df,     "stroop_df")
any_left(emo_df,        "emo_df")
any_left(stroop_merged, "stroop_merged")
any_left(emo_merged,    "emo_merged")

Remaining details participants: 328
Unmatched Stroop (missing sex): 0
Unmatched Emo (missing sex):    0
Excluded IDs still in details_unique: []
Excluded IDs still in stroop_df: []
Excluded IDs still in emo_df: []
Excluded IDs still in stroop_merged: []
Excluded IDs still in emo_merged: []

In [130]:
# re-build the demographic table
# ensure numeric age
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

import pandas as pd
demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

            Dataset    N                                        Sex counts  \
0  Classical Stroop   88               {'f': 58, 'm': 29, 'non-binary': 1}
1  Emotional Stroop   88               {'f': 58, 'm': 29, 'non-binary': 1}
2  All Participants  328  {'f': 223, 'm': 94, '<na>': 10, 'non-binary': 1}

  Age (mean ± SD) Age range
0   48.25 ± 13.73   25 – 77
1   48.25 ± 13.73   25 – 77
2   47.63 ± 16.43   18 – 82

In [132]:
#Got answer from the participant 1048, age 65 years old. SO now I have to re-merge the data and update the participants age. 
details_unique.loc[details_unique["participant_id"] == "1048", "age"] = 65

In [134]:
#re-emerge so stroop and emotional stroop have the same data update of the participant
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

update the raw file with the new participants update age. BUT first! find the missing sex participants and try to fill in sex before touching the raw datafile and merging everything together

In [141]:
#find all missing sex-participants
# normalize sex (so "<na>" and weird spellings don't slip through)
sex_norm = (details_unique["sex"].astype(str).str.strip().str.lower()
            .replace({"nan": pd.NA, "<na>": pd.NA, "female":"f", "male":"m"}))

missing_sex = details_unique.loc[sex_norm.isna(), ["participant_id","sex","age"]].sort_values("participant_id")
print(f"Participants with missing sex: {len(missing_sex)}")
missing_sex

Participants with missing sex: 10

    participant_id   sex   age
102           1103  <NA>  66.0
142           1143  <NA>  62.0
224           1225  <NA>  23.0
232           1233  <NA>  34.0
237           1238  <NA>  58.0
238           1239  <NA>  51.0
274           1275  <NA>  33.0
287           1288  <NA>  30.0
328           1329  <NA>  70.0
346           1347  <NA>  56.0

In [145]:
#sex information of participants, manually checking:
    # "1103": female,
    # "1143": no show,
    # "1225": excluded because of age 23,
    # "1233": female, coded as 1223,
    # "1238": no show,
    # "1239": 51, but tested 2 years ago so not included in this sample,
    # "1275": male,
    # "1247": female, is 1192 so we can substitue these two,
    # "1288": no show,
    # "1329": male,
    # "1347": female,

In [149]:
# --- apply sex corrections ---
sex_corrections = {
    "1103": "f",
    "1233": "f",  
    "1275": "m",
    "1329": "m",
    "1347": "f",
    "1275": "m",
    "1247": "f",
}

In [151]:
for pid, sex_val in sex_corrections.items():
    details_unique.loc[details_unique["participant_id"] == pid, "sex"] = sex_val

In [153]:
# normalize sex to f/m/NaN
details_unique["sex"] = (details_unique["sex"].astype(str).str.strip().str.lower()
                         .replace({"female":"f", "male":"m", "nan": pd.NA, "<na>": pd.NA}))

In [155]:
# --- exclusions (do NOT exclude 1247) ---
extra_exclusions = {"1143", "1225", "1238", "1239", "1288"}
details_unique = details_unique[~details_unique["participant_id"].isin(extra_exclusions)].copy()
stroop_df      = stroop_df[~stroop_df["participant_id"].isin(extra_exclusions)].copy()
emo_df         = emo_df[~emo_df["participant_id"].isin(extra_exclusions)].copy()

In [157]:
#re-emerge demographocs to stroop and emo
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [159]:
#re-build the three summaries again (emo, stroop, rawfile
# ensure numeric age
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")

def summarize_demo(df, label):
    cols = [c for c in ["participant_id","sex","age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()
    dfu["sex"] = dfu["sex"].astype(str).str.strip().str.lower().replace({"nan": pd.NA})
    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean(); age_sd = dfu["age"].std()
    age_min  = dfu["age"].min();  age_max = dfu["age"].max()
    return {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

            Dataset    N                            Sex counts  \
0  Classical Stroop   88   {'f': 58, 'm': 29, 'non-binary': 1}
1  Emotional Stroop   88   {'f': 58, 'm': 29, 'non-binary': 1}
2  All Participants  323  {'f': 226, 'm': 96, 'non-binary': 1}

  Age (mean ± SD) Age range
0   48.25 ± 13.73   25 – 77
1   48.25 ± 13.73   25 – 77
2   47.67 ± 16.44   18 – 82

In [161]:
print("Missing sex (details):", details_unique["sex"].isna().sum())
print("Unmatched Stroop (sex NaN):", stroop_merged["sex"].isna().sum())
print("Unmatched Emo (sex NaN):   ", emo_merged["sex"].isna().sum())

Missing sex (details): 0
Unmatched Stroop (sex NaN): 0
Unmatched Emo (sex NaN):    0

finding a non-binary participant. Which is correct according to the dataset a participant did selflabel as binary. But we will have to exclude this participant due to missing number on this specific group.

In [166]:
#locate the non-binary
mask_nb = details_unique["sex"].astype(str).str.strip().str.lower() == "non-binary"
details_unique.loc[mask_nb, ["participant_id","sex","age"]]

    participant_id         sex   age
215           1216  non-binary  35.0

This information is correct with our dataset.

In [169]:
# participant to exclude
exclude_nonbinary = ["1216"]

In [171]:

# remove from cleaned demographics
details_unique = details_unique[~details_unique["participant_id"].isin(exclude_nonbinary)].copy()

In [173]:
# remove from raw (if you want consistency)
if "participant_id" not in details_df.columns:
    def normalize_id(s):
        return (s.astype(str).str.replace(r"\.0$","",regex=True).str.strip())
    details_df["participant_id"] = normalize_id(details_df["participant_ID"])

details_df = details_df[~details_df["participant_id"].isin(exclude_nonbinary)].copy()

In [175]:
# remove from instrument data
stroop_df = stroop_df[~stroop_df["participant_id"].isin(exclude_nonbinary)].copy()
emo_df    = emo_df[~emo_df["participant_id"].isin(exclude_nonbinary)].copy()

In [177]:
stroop_merged = stroop_df.merge(details_unique, on="participant_id", how="left", validate="m:1")
emo_merged    = emo_df.merge(details_unique,    on="participant_id", how="left", validate="m:1")

In [179]:
print("Participants left in details:", details_unique["participant_id"].nunique())
print("Any 1216 left in details?", "1216" in details_unique["participant_id"].values)
print("Any 1216 left in Stroop?", "1216" in stroop_df["participant_id"].values)
print("Any 1216 left in Emo?", "1216" in emo_df["participant_id"].values)

Participants left in details: 322
Any 1216 left in details? False
Any 1216 left in Stroop? False
Any 1216 left in Emo? False

Those lines are the checks we wrote to confirm that participant 1216 was successfully excluded. 
Any 1216 left in details? 

False → means 1216 is not present in details_unique.

Any 1216 left in Stroop? False → means 1216 is not present in your Stroop dataset.

Any 1216 left in Emo? False → means 1216 is not present in your Emotional Stroop dataset.

So all three False values are good news: they confirm that participant 1216 was fully removed from every dataset

In [182]:
# --- 1) Ensure age is numeric and sex normalized (f/m/NaN only) ---
for _df in (details_unique, stroop_merged, emo_merged):
    _df["age"] = pd.to_numeric(_df["age"], errors="coerce")
    _df["sex"] = (_df["sex"].astype(str).str.strip().str.lower()
                  .replace({"female": "f", "male": "m", "nan": np.nan, "<na>": np.nan}))

In [184]:
# --- 2) Helper to summarize demographics ---
def summarize_demo(df, label):
    cols = [c for c in ["participant_id","sex","age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean(); age_sd = dfu["age"].std()
    age_min  = dfu["age"].min();  age_max = dfu["age"].max()

In [202]:
def summarize_demo(df, label):
    cols = [c for c in ["participant_id", "sex", "age"] if c in df.columns]
    dfu = df[cols].drop_duplicates(subset="participant_id").copy()

    n = len(dfu)
    sex_counts = dfu["sex"].value_counts(dropna=False).to_dict()
    age_mean = dfu["age"].mean()
    age_sd   = dfu["age"].std()
    age_min  = dfu["age"].min()
    age_max  = dfu["age"].max()

    # Pretty-print sex counts: collapse NaN label to '<na>' if present
    if any(pd.isna(k) for k in sex_counts.keys()):
        sex_counts = {
            ("f" if k == "f" else "m" if k == "m" else "<na>"): v
            for k, v in sex_counts.items()
        }

    return {
        "Dataset": label,
        "N": n,
        "Sex counts": sex_counts,
        "Age (mean ± SD)": f"{age_mean:.2f} ± {age_sd:.2f}" if n else "—",
        "Age range": f"{int(age_min)} – {int(age_max)}" if pd.notna(age_min) else "—",
    }

In [204]:
# --- 3) Build summaries ---
stroop_demo   = summarize_demo(stroop_merged,   "Classical Stroop")
emo_demo      = summarize_demo(emo_merged,      "Emotional Stroop")
combined_demo = summarize_demo(details_unique,  "All Participants")

demo_table = pd.DataFrame([stroop_demo, emo_demo, combined_demo])
print(demo_table)

            Dataset    N           Sex counts Age (mean ± SD) Age range
0  Classical Stroop   87   {'f': 58, 'm': 29}   48.40 ± 13.74   25 – 77
1  Emotional Stroop   87   {'f': 58, 'm': 29}   48.40 ± 13.74   25 – 77
2  All Participants  322  {'f': 226, 'm': 96}   47.71 ± 16.45   18 – 82